@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: 'Plantagenet Cherokee';
    src: url('../fonts/Plantagenet Cherokee.eot');
    src: url('../fonts/Plantagenet Cherokee.woff2') format('woff2'), url('../fonts/Plantagenet Cherokee.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlantagenetCherokee';
    src: url('../fonts/PlantagenetCherokee.woff') format('woff'), url('../fonts/PlantagenetCherokee.ttf') format('truetype'), url('../fonts/PlantagenetCherokee.svg#PlantagenetCherokee') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*:hover,
*:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: normal;
    color: #505050;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #000;
}

h2 {
    font-size: 45px;
    color: #ed1c24;
    line-height: 45px letter-spacing:;
    text-transform: uppercase;
    position: relative;
    padding-left: 18px;
    font-weight: normal;
}

h2:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #3c3c3c;
    width: 5px;
    height: 100%;
}

p {
    font-size: 16px;
    color: #3c3c3c;
    margin: 0;
    padding: 0;
}

a {
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

strong,
b {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

ol,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.display_table {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.display_table_cell {
    display: table-cell;
    vertical-align: middle;
}

.wow {
    visibility: hidden;
}


/*dashboard css*/

.main_outr {
    position: relative;
    height: 100%;
}

.main_outr .das_left_bx {
    width: 24.9%;
    position: fixed;
    background-color: #000000;
    top: 0;
    bottom: 0;
}

.main_outr .das_left_bx .dashboard_logo {
    text-align: center;
    padding: 30px 10px 0;
    margin-bottom: 8px;
}

.main_outr .das_left_bx .dashboard_logo:after {
    content: '';
    width: 96%;
    margin: 30px auto 0;
    display: block;
    height: 1px;
    background-color: #fff;
}

/*.dashboard_menu {
    overflow: auto;
}*/

.dashboard_menu,
.dashboard_menu ul.accordion {
    height: 100%;
}

.dashboard_menu .accordion li {
    position: relative;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.dashboard_menu .accordion li .caret {
    position: absolute;
    top: 32px;
    right: 50px;
    color: #fff;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.dashboard_menu .accordion > li:hover span.caret,
.dashboard_menu .accordion > li:focus span.caret,
.dashboard_menu .accordion > li.active span.caret {
    color: #3c3c3c;

}

.dashboard_menu .accordion > li.open > span.caret {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.dashboard_menu .accordion > li > span.caret {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border-top: 6px dashed;
    border-top: 6px solid\9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.dashboard_menu .accordion li .submenu li a,
.dashboard_menu .accordion > li > a {
    display: block;
    font-size: 20px;
    color: #e3e3e3;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.040em;
    padding: 23px 52px 22px 87px;
}

.dashboard_menu .accordion > li.active > a,
.dashboard_menu .accordion > li > a:hover,
.dashboard_menu .accordion > li > a:focus {
    background-color: #f5ee31 !important;
    color: #3c3c3c !important;
    -webkit-box-shadow: 5px 3px 5px 0px rgba(33, 33, 33, 0.71) !important;
    -moz-box-shadow: 5px 3px 5px 0px rgba(33, 33, 33, 0.71) !important;
    box-shadow: 5px 3px 5px 0px rgba(33, 33, 33, 0.71) !important;
}

.dashboard_menu .accordion > li.active > a svg,
.dashboard_menu .accordion > li > a:hover #cart_icon,
.dashboard_menu .accordion > li > a:focus #cart_icon,
.dashboard_menu .accordion > li > a:hover #user_icon,
.dashboard_menu .accordion > li > a:focus #user_icon,
.dashboard_menu .accordion > li > a:hover #drum_set,
.dashboard_menu .accordion > li > a:focus #drum_set,
.dashboard_menu .accordion > li > a:hover #dolllr_icon,
.dashboard_menu .accordion > li > a:focus #dolllr_icon {
    fill: #ed1c24 !important;
}


.dashboard_menu .accordion > li > a svg {
    margin-right: 28px;
}

.dashboard_menu .accordion > li > a #cart_icon,
.dashboard_menu .accordion > li > a #user_icon,
.dashboard_menu .accordion > li > a #drum_set {
    width: 21px;
    height: 19px;
    fill: #fff;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.dashboard_menu .accordion > li > a #dolllr_icon {
    width: 20px;
    height: 23px;
    fill: #fff;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;

}

/*according css*/

.dashboard_menu .accordion li:last-child {
    margin-bottom: 0;
}

.dashboard_menu .accordion .link {
    cursor: pointer;
    display: block;
    /*
    position: relative;*/
}

.dashboard_menu .accordion li.open .link .caret {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.dashboard_menu .accordion li.open .link {
    border-bottom: 0;
}

.dashboard_menu .accordion li .submenu {
    background-color: #2a2a2a;
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.dashboard_menu .accordion li .submenu li {
    border-bottom: 1px solid #393939;
    padding: 23px 50px 22px 87px;
}

.dashboard_menu .accordion li .submenu li a {
    padding: 0;
    display: inline-block;
    font-size: 18px;
}

.dashboard_menu .accordion li .submenu li a:hover,
.dashboard_menu .accordion li .submenu li a:focus {
    color: #f5ee31;
}

.dashboard_menu .accordion li.open .submenu {
    display: none;
}

.dashboard_menu .accordion li.default .submenu {
    display: none;
}

.main_outr .das_right_bx {
    width: 75.1%;
    float: right;
    margin: 0 0 0 480px;
    padding-top: 168px;
    background-color: #f6f6f6;
    height: 100%;
}

.das_right_bx .dash_rt_head {
    background-color: #ffffff;
    padding: 45px 10% 45px 70px;
    border-bottom: 10px solid #e0e0e0;
    position: fixed;
    right: 0;
    width: 75.1%;
    top: 0;
    z-index: 22;
}

.das_right_bx .dash_rt_head .head_searh_lt {
    margin-right: -4px;
}

.das_right_bx .dash_rt_head .head_profi_rt,
.das_right_bx .dash_rt_head .head_searh_lt {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.das_right_bx .dash_rt_head .head_searh_lt .search_bx {
    width: 350px;
    height: 60px;
    position: relative;
}

.das_right_bx .dash_rt_head .head_searh_lt .search_bx input[type="text"].form-control {
    height: 100%;
    border: 1px solid #d3d3d3;
    box-shadow: none;
    border-radius: 0;
    padding-right: 95px;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    font-weight: 400;
}

.das_right_bx .dash_rt_head .head_searh_lt .search_bx input[type="text"].form-control:hover,
.das_right_bx .dash_rt_head .head_searh_lt .search_bx input[type="text"].form-control:focus {
    border-color: #3c3c3c !important;
}

.das_right_bx .dash_rt_head .head_searh_lt .search_bx input[type="text"].form-control:focus + button {
    right: -56px;
}

.das_right_bx .dash_rt_head .head_searh_lt .search_bx button.search_btn {
    position: absolute;
    top: 10px;
    right: -46px;
    letter-spacing: 0.040em;
    padding: 10px 28px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    background: rgba(235, 27, 34, 1);
    background: -moz-linear-gradient(top, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 27, 34, 1)), color-stop(47%, rgba(200, 16, 22, 1)), color-stop(100%, rgba(155, 0, 5, 1)));
    background: -webkit-linear-gradient(top, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    background: -o-linear-gradient(top, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    background: -ms-linear-gradient(top, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    background: linear-gradient(to bottom, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb1b22', endColorstr='#9b0005', GradientType=0);
}

.das_right_bx .dash_rt_head .head_searh_lt .search_bx button.search_btn:hover,
.das_right_bx .dash_rt_head .head_searh_lt .search_bx button.search_btn:focus {
    background: rgba(155, 0, 5, 1);
    background: -moz-linear-gradient(top, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(155, 0, 5, 1)), color-stop(53%, rgba(200, 16, 22, 1)), color-stop(100%, rgba(235, 27, 34, 1)));
    background: -webkit-linear-gradient(top, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    background: -o-linear-gradient(top, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    background: -ms-linear-gradient(top, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    background: linear-gradient(to bottom, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b0005', endColorstr='#eb1b22', GradientType=0);
}

.das_right_bx .dash_rt_head .head_profi_rt {
    text-align: right;
}

.head_profi_rt .dropdown,
.head_profi_rt .profil_bx_outr,
.head_profi_rt {
    display: inline-block;
    vertical-align: middle;
}

.das_right_bx .dash_rt_head .head_profi_rt .profil_bx_outr p {
    font-size: 20px;
    color: #3c3c3c;
    letter-spacing: 0.040em;
    text-transform: uppercase;
    font-weight: 400;
}

.das_right_bx .dash_rt_head .head_profi_rt .profil_bx_outr p,
.das_right_bx .dash_rt_head .head_profi_rt .profil_bx_outr figure {
    display: inline-block;
    vertical-align: middle;
}

.das_right_bx .dash_rt_head .head_profi_rt .profil_bx_outr figure {
    margin-left: 14px;
}

.das_right_bx .dash_rt_head .head_profi_rt .profil_bx_outr figure.profie_bxx {
    width: 67px;
    height: 67px;
    border-radius: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.das_right_bx .dash_rt_head .head_profi_rt .dropdown a.caret {
    border-color: #e0e0e0;
    border-top: 7px solid #e0e0e0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    cursor: pointer;
}

.das_right_bx .dash_rt_head .head_profi_rt .dropdown .dropdown-menu {
    left: auto;
    right: 0;
    margin-top: 20px;
    box-shadow: 0 0px 9px 1px rgba(146, 146, 146, 0.66);
    border: 0;
    border-radius: 5px;
    padding: 0;
}

.das_right_bx .dash_rt_head .head_profi_rt .dropdown .dropdown-menu > li {
    border-bottom: 1px solid #ededed;
}

.das_right_bx .dash_rt_head .head_profi_rt .dropdown .dropdown-menu > li:last-child {
    border-bottom: 0;
}

.das_right_bx .dash_rt_head .head_profi_rt .dropdown .dropdown-menu > li:first-child a {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.das_right_bx .dash_rt_head .head_profi_rt .dropdown .dropdown-menu > li:last-child a {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.das_right_bx .dash_rt_head .head_profi_rt .dropdown .dropdown-menu > li > a {
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 13px 10px 11px;
    line-height: 1;
}

.das_right_bx .dashboard_inn {
    padding: 40px 13.4% 40px 50px;
    width: 100%;
    display: inline-block;
    margin-bottom: 70px;
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
}

.das_right_bx .dashboard_inn .dshbrd_in_rt {
    margin-bottom: 35px;
}

.das_right_bx .dashboard_inn .heading_bx_lt {
    margin-right: -4px;
}

.das_right_bx .dashboard_inn .filtr_bx_rt,
.das_right_bx .dashboard_inn .heading_bx_lt {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.das_right_bx .dashboard_inn .filtr_bx_rt {
    text-align: right;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .lesson_inter {
    width: 248px;
    display: inline-block;
    vertical-align: middle;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .lesson_inter select.form-control {
    border: 1pxm solid #e0e0e0;
    height: 33px;
    box-shadow: none;
    border-radius: 0;
    padding: 5px 24px 5px 10px;
    font-size: 14px;
    font-weight: 400;
    -webkit-appearance: none;
    appearance: none;
    background: #fff url(../images/dropdown-arrow.png) 96% 50% no-repeat;
    text-transform: capitalize;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx {
    width: 177px;
    display: inline-block;
    vertical-align: middle;
    background-color: #ebebeb;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    height: 34px;
    padding: 4px;
    margin-left: 60px;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx p {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #b2b2b2;
    text-align: left;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown {
    background-color: #fff;
    width: 93px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown a {
    display: block;
    cursor: pointer;
    padding: 3px 8px;
    font-size: 14px;
    text-transform: capitalize;
    color: #6d6d6d;
    font-weight: 400;
    -webkit-box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.51);
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.51);
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown a:hover,
.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown a:focus {
    outline: none;
    box-shadow: none;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown a span.caret {

    vertical-align: middle;
    border-top: 6px solid #3c3c3c;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown .dropdown-menu {
    left: auto;
    right: -4px;
    width: 200px;
    background-color: #fff;
    border: 0;
    top: 30px;
    border-radius: 0;
    padding: 0;
    z-index: 9;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown .dropdown-menu p {
    display: block;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown .dropdown-menu p:hover {
    background-color: #f0f0f0;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown .dropdown-menu p .styled-checkbox {
    position: absolute;
    opacity: 0;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown .dropdown-menu p .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    color: #3c3c3c;
    display: block;
    padding: 6px 12px;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown .dropdown-menu p .styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
    background: #ededed;
    -webkit-box-shadow: inset 3px 3px 1px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 3px 3px 1px -1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 3px 3px 1px -1px rgba(0, 0, 0, 0.3);
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown .dropdown-menu p .styled-checkbox:hover + label:before {
    background: #ed1c24;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown .dropdown-menu p .styled-checkbox:focus + label:before {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown .dropdown-menu p .styled-checkbox:checked + label:before {
    background: #ed1c24;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown .dropdown-menu p .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown .dropdown-menu p .styled-checkbox:disabled + label:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ddd;
}

.das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx .dropdown .dropdown-menu p .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 15px;
    top: 9px;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    /* border-left-width: 8px; */
    /* border-bottom-width: 2px; */
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: #fff;
    border-bottom-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
    height: 12px;
}

.lesson_bx_outr {
    padding-left: 20px;
}

.lesson_bx_outr ul li {
    float: left;
    border: 1px solid #ababab;
    min-height: 272px;
    width: 31.1%;
    padding: 18px;
    margin: 0 40px 40px 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.lesson_bx_outr ul li:hover {
    -webkit-box-shadow: 2px 0px 22px 0px rgba(116, 116, 116, 0.65);
    -moz-box-shadow: 2px 0px 22px 0px rgba(116, 116, 116, 0.65);
    box-shadow: 2px 0px 22px 0px rgba(116, 116, 116, 0.65);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #fff;
}

.lesson_bx_outr ul li:nth-child(3n + 3) {
    margin-right: 0;
}

.lesson_bx_outr ul li figure {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 200px;
}

.lesson_bx_outr ul li .lessn_head {
    padding: 20px 0 0;
}

.lesson_bx_outr ul li .lessn_head h4 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.lesson_bx_outr ul li .lessn_head h4 a {
    color: #3c3c3c;
}

.lesson_bx_outr ul li .lessn_head h4 a:hover,
.lesson_bx_outr ul li .lessn_head h4 a:focus {
    color: #ed1c24;
}

.lesson_bx_outr ul li .lessn_head span.lesson_date {
    float: right;
    color: #808080;
}

footer {
    background-color: #0e0e0e;
    padding: 25px 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}

footer:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 75.1%;
    margin-left: 24.9%;
    height: 10px;
    background-color: #e0e0e0;
}

footer p {
    color: #ed1c24;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.015em;
}

footer p span {
    color: #fff;
}

footer p span a {
    color: #1cc8ed;
}

footer p span a:hover,
footer p span a:focus {
    color: #fff;
}


/*purchase lesson page css*/

.online_lesson_outr {
    padding-left: 20px;
}

.online_lesson_inn {
    border: 1px solid #e0e0e0;
}

.online_lesson_inn h3 {
    background-color: #efefef;
    text-align: center;
    color: #3c3c3c;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 22px 10px 20px;
    letter-spacing: 0.025em;
}

.online_lesson_inn h3 span {
    color: #ed1c24;
}

.online_lesson_outr .online_table_bx {
    background-color: #fff;
}

.online_lesson_outr .online_table_bx table {
    width: 100%;
}

.online_lesson_outr .online_table_bx table tr {
    border-top: 1px solid #e0e0e0;
}

.online_lesson_outr .online_table_bx table thead tr th:first-child {
    width: 230px;
}

.online_lesson_outr .online_table_bx table thead tr th:nth-child(2) {
    width: 190px;
}

.online_lesson_outr .online_table_bx table thead tr th:nth-child(3) {
    width: 280px;
}

.online_lesson_outr .online_table_bx table thead tr th:nth-child(4) {
    width: 240px;
}

.online_lesson_outr .online_table_bx table thead tr th:nth-child(5) {
    width: 235px;
}

.online_lesson_outr .online_table_bx table thead tr th,
.online_lesson_outr .online_table_bx table tbody tr td,
.online_lesson_outr .online_table_bx table tbody tr th {
    padding: 22px 10px;
    text-align: center;
    text-transform: uppercase;
    color: #3c3c3c;
    font-size: 24px;
    font-weight: normal;
    border-right: 1px solid #e0e0e0;
    white-space: normal;
    word-break: break-all;
}

.online_lesson_outr .online_table_bx table thead tr th:last-child,
.online_lesson_outr .online_table_bx table tbody tr td:last-child {
    border-right: 0;
}

.online_lesson_outr .online_table_bx table tbody tr td {
    color: #9a9a9a;
    text-transform: capitalize;
}

.online_lesson_outr .online_table_bx table tbody tr td ul li {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #c2c2c2;
    line-height: 15px;
}

.online_lesson_outr .online_table_bx table tbody tr td ul li a {
    color: #4b4b4b;
    font-size: 15px;
    text-decoration: underline;
    font-weight: 400;
}

.online_lesson_outr .online_table_bx table tbody tr td ul li a:hover {
    text-decoration: none;
}

.online_lesson_outr .online_table_bx table tbody tr td ul li a.renew {
    margin-right: 30px;
}

.online_lesson_outr .online_table_bx table tbody tr td ul li a.cancel {
    color: #e0171f;
    margin-left: 26px;
}

.online_lesson_outr .online_table_bx table tbody tr td ul li:last-child {
    border-right: 0;
}

.online_lesson_outr .online_table_bx table tbody tr td a.upgrade_btn {
    padding: 8px 18px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    border: 0;
    letter-spacing: 0.040em;
    color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    background: rgba(235, 27, 34, 1);
    background: -moz-linear-gradient(top, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 27, 34, 1)), color-stop(47%, rgba(200, 16, 22, 1)), color-stop(100%, rgba(155, 0, 5, 1)));
    background: -webkit-linear-gradient(top, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    background: -o-linear-gradient(top, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    background: -ms-linear-gradient(top, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    background: linear-gradient(to bottom, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb1b22', endColorstr='#9b0005', GradientType=0);
}

.online_lesson_outr .online_table_bx table tbody tr td a.upgrade_btn:hover {
    background: rgba(155, 0, 5, 1);
    background: -moz-linear-gradient(top, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(155, 0, 5, 1)), color-stop(53%, rgba(200, 16, 22, 1)), color-stop(100%, rgba(235, 27, 34, 1)));
    background: -webkit-linear-gradient(top, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    background: -o-linear-gradient(top, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    background: -ms-linear-gradient(top, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    background: linear-gradient(to bottom, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b0005', endColorstr='#eb1b22', GradientType=0);
}



.history_detail_bx {

    max-width: 500px;
    width: 100%;
    padding-left: 20px;
    margin-top: 14px;
    display: inline-block;
}

.history_detail_bx h3 {
    font-size: 30px;
    color: #3c3c3c;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 37px;
    letter-spacing: 0.040em;
}

.history_detail_bx .histry_data_bx ul li {
    font-size: 20px;
    color: #3c3c3c;
    margin-bottom: 20px;
    letter-spacing: 0.040em;
}

.history_detail_bx .histry_data_bx ul li span.head_nam {
    width: 284px;
    display: inline-block;
}


/*profile page css*/

.pro_right_bx,
.pro_left_bx {
    display: inline-block;
    vertical-align: top;
}

.pro_left_bx {
    width: 270px;
}

.pro_left_bx .pro_bx {
    width: 206px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    text-align: center;
    padding: 32px 10px 28px;
}

.pro_left_bx .pro_bx .pro_out_bx {
    border-radius: 100%;
    border: 1px solid #dbdbdb;
    padding: 3px;
    display: inline-block;
    width: 123px;
    height: 123px;
    margin-bottom: 12px;
    border-radius: 100%;
}

.pro_left_bx .pro_bx figure {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;

}

.pro_left_bx .pro_bx .pro_out_bx figure .capt_bx {
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 27px;
    border: 1px solid #dbdbdb;
    border-radius: 100%;
    background-color: #fff;
    color: #e3e3e3;

}

.pro_left_bx .pro_bx .pro_out_bx figure .capt_bx .fa {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: zoom 1s infinite;
    /* Safari 4.0 - 8.0 */
    animation: zoom 1s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

}

@-ms-keyframes zoom {
    from {
        font-size: 14px;
    }
    to {
        font-size: 15px;
        color: #ed1c24;
    }
}

@-moz-keyframes zoom {
    from {
        font-size: 14px;
    }
    to {
        font-size: 15px;
        color: #ed1c24;
    }
}

@-webkit-keyframes zoom {
    from {
        font-size: 14px;
    }
    to {
        font-size: 15px;
        color: #ed1c24;
    }
}

@keyframes zoom {
    from {
        font-size: 14px;
    }
    to {
        font-size: 15px;
        color: #ed1c24;
    }
}

.pro_left_bx .pro_bx h3 {
    color: #ce1119;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    letter-spacing: 0.040em;
    text-transform: uppercase;
}

.pro_left_bx .pro_bx h4 {
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 400;
}


.pro_right_bx {
    /* Firefox */
    width: -moz-calc(100% - 275px);
    /* WebKit */
    width: -webkit-calc(100% - 275px);
    /* Opera */
    width: -o-calc(100% - 275px);
    /* Standard */
    width: calc(100% - 275px);
}

.pro_right_bx .pro_form_outr {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.pro_right_bx .pro_form_outr:last-child {
    margin-bottom: 0;
}

.pro_right_bx .pro_form_outr .form_head {
    position: relative;
}

.pro_right_bx .pro_form_outr .form_head h3 {
    color: #3c3c3c;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.04em;
    margin-bottom: 25px;
    padding: 0;
}

.pro_right_bx .pro_form_outr .form_head .edit_btn {
    position: absolute;
    right: 0;
    top: 20px;
    color: #ce1119;
    font-size: 16px;
    font-weight: 400;
}

.pro_right_bx .pro_form_outr .form_head .edit_btn:hover,
.pro_right_bx .pro_form_outr .form_head .edit_btn:focus {
    color: #aeaeae;
}

.form_bx .form-group {
    margin-bottom: 38px;
}

.form_bx .form-group .label_title_bx {
    width: 23%;
    margin-right: -4px;
    display: inline-block;
    vertical-align: middle;
}

.form_bx .form-group .label_title_bx h3 {
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.040em;
    padding: 0;
}

.form_bx .form-group .label_title_bx .required {
    color: #ff0000;
}

.form_bx .form-group .form_field_bx {
    width: 77%;
    vertical-align: middle;
    display: inline-block;
}

.form_bx .form-group.postal_address .label_title_bx,
.form_bx .form-group.postal_address .form_field_bx {
    vertical-align: top;
}

.form_bx .form-group .form_field_bx ul li {
    display: inline-block;
    margin-right: 16px;
}

.form_bx .form-group .form_field_bx ul li select.form-control {
    cursor: pointer;
    background: #fff url(../images/dropdown-arrow-blk.png) 94% 50% no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form_bx .form-group .form_field_bx ul li .form-control {
    width: 150px;
    border: 0;
    border-radius: 0;
    padding: 0px 12px;
    font-size: 18px;
    color: #3c3c3c;
    box-shadow: 0 0 0 0;
    font-weight: 400;
    line-height: 30px;
}

.form_bx .form-group .form_field_bx ul li .form-control.textarea_filed {
    width: 290px;
    height: 80px;
    resize: none;
}

.form_bx .form-group .form_field_bx ul li .form-control:focus,
.form_bx .form-group .form_field_bx ul li .form-control:hover {
    box-shadow: 0 0 11px 0 rgba(157, 157, 157, 0.75);
}

.passwprd_heading h4 {
    color: #ce1119;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ce1119;
    display: inline-block;
    letter-spacing: 0.04em;
}

.account_infot_bx .form_bx .form-group .form_field_bx ul li .form-control {
    width: 290px;
}

.save_btn_outr input[type="submit"] {
    display: inline-block;
    width: 100px;
    height: 37px;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.040em;
    text-align: center;
    padding: 8px 10px;
    border: 0;
}

.save_btn_outr input[type="submit"].save_btn {
    background: rgba(235, 27, 34, 1);
    background: -moz-linear-gradient(top, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 27, 34, 1)), color-stop(47%, rgba(200, 16, 22, 1)), color-stop(100%, rgba(155, 0, 5, 1)));
    background: -webkit-linear-gradient(top, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    background: -o-linear-gradient(top, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    background: -ms-linear-gradient(top, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    background: linear-gradient(to bottom, rgba(235, 27, 34, 1) 0%, rgba(200, 16, 22, 1) 47%, rgba(155, 0, 5, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb1b22', endColorstr='#9b0005', GradientType=0);
    color: #fff;
    margin-right: 12px;
}

.save_btn_outr input[type="submit"].save_btn:hover,
.save_btn_outr input[type="submit"].save_btn:focus {
    background: rgba(155, 0, 5, 1);
    background: -moz-linear-gradient(top, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(155, 0, 5, 1)), color-stop(53%, rgba(200, 16, 22, 1)), color-stop(100%, rgba(235, 27, 34, 1)));
    background: -webkit-linear-gradient(top, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    background: -o-linear-gradient(top, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    background: -ms-linear-gradient(top, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    background: linear-gradient(to bottom, rgba(155, 0, 5, 1) 0%, rgba(200, 16, 22, 1) 53%, rgba(235, 27, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b0005', endColorstr='#eb1b22', GradientType=0);

}

.save_btn_outr input[type="submit"].cancel_btn {
    background-color: #f5ee31;
    color: #000;
}

.save_btn_outr input[type="submit"].cancel_btn:hover,
.save_btn_outr input[type="submit"].cancel_btn:focus {
    background-color: #f4eb01;
    box-shadow: 0 0 5px 0 #ddd;
}

/*custom radio button css*/

.form_bx .form-group .form_field_bx ul li input[type="radio"]:checked,
.form_bx .form-group .form_field_bx ul li input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form_bx .form-group .form_field_bx ul li input[type="radio"]:checked + label {
    color: #000;
}

.form_bx .form-group .form_field_bx ul li input[type="radio"]:not(:checked) + label {
    color: #979797;
}

.form_bx .form-group .form_field_bx ul li input[type="radio"]:checked + label,
.form_bx .form-group .form_field_bx ul li input[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    line-height: 9px;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    margin-right: 30px;
}

.form_bx .form-group .form_field_bx ul li input[type="radio"]:checked + label:before {
    border: 1px solid #000;
}

.form_bx .form-group .form_field_bx ul li input[type="radio"]:not(:checked) + label:before {
    border: 1px solid #979797;
}

.form_bx .form-group .form_field_bx ul li input[type="radio"]:checked + label:before,
.form_bx .form-group .form_field_bx ul li input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: #fff;
}

.form_bx .form-group .form_field_bx ul li input[type="radio"]:checked + label:after,
.form_bx .form-group .form_field_bx ul li input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 5px;
    height: 5px;
    background: #000;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form_bx .form-group .form_field_bx ul li input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form_bx .form-group .form_field_bx ul li input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

















@media (max-width:1499px) {
    .main_outr .das_left_bx {
        width: 20%;
    }
    .main_outr .das_left_bx .dashboard_logo a img {
        width: 130px;
    }

    .dashboard_menu .accordion li .caret {
        top: 22px;
        right: 30px;
    }
    .dashboard_menu .accordion li .submenu li a,
    .dashboard_menu .accordion > li > a {
        font-size: 16px;
        padding: 12px 27px;
    }
    .dashboard_menu .accordion li .submenu li a {
        font-size: 15px;
        padding: 0;
    }
    .dashboard_menu .accordion > li > a svg {
        margin-right: 15px;
    }
    .dashboard_menu .accordion li .submenu li {
        padding: 12px 30px 12px 70px;
    }
    footer {
        padding: 15px 4.6%;
    }
    footer:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 80%;
        margin-left: 20%;
        height: 10px;
        background-color: #e0e0e0;
    }
    .main_outr .das_right_bx {
        width: 80%;
        margin: 0 0 0 20%;
        padding-top: 107px;
    }
    .das_right_bx .dash_rt_head {
        padding: 25px 5% 25px 30px;
        width: 80%;
    }
    .das_right_bx .dash_rt_head .head_searh_lt .search_bx {
        width: 280px;
        height: 40px;
    }
    .das_right_bx .dash_rt_head .head_searh_lt .search_bx button.search_btn {
        top: 4px;
        right: -36px;
        padding: 6px 20px;
        font-size: 14px;
    }
    .das_right_bx .dash_rt_head .head_profi_rt .profil_bx_outr p {
        font-size: 16px;
    }
    .das_right_bx .dash_rt_head .head_profi_rt .profil_bx_outr figure.profie_bxx {
        width: 47px;
        height: 47px;
    }
    .das_right_bx .dash_rt_head .head_profi_rt .profil_bx_outr figure {
        margin-left: 10px;
    }
    .das_right_bx .dashboard_inn {
        padding: 30px 6% 20px 30px;
        margin-bottom: 50px;
    }
    .lesson_bx_outr ul li {
        padding: 15px;
        margin: 0 3.3% 40px 0;
        min-height: 264px;
    }

    .heading_bx_lt h2 {
        font-size: 28px;
    }
    .das_right_bx .dashboard_inn .filtr_bx_rt .lesson_inter {
        width: 193px;
    }
    .das_right_bx .dashboard_inn .filtr_bx_rt .lesson_inter select.form-control {
        padding: 3px 24px 5px 10px;
    }
    .das_right_bx .dashboard_inn .filtr_bx_rt .filtr_bx {
        margin-left: 30px;
    }
    .lesson_bx_outr ul li .lessn_head {
        padding: 15px 0 0;
    }

    /*    purchase lesson page css*/
    .online_lesson_outr h3 {
        font-size: 24px;
        padding: 12px 10px 10px;
    }

    .online_lesson_outr .online_table_bx table thead tr th,
    .online_lesson_outr .online_table_bx table tbody tr td,
    .online_lesson_outr .online_table_bx table tbody tr th {
        padding: 16px 10px;
        font-size: 16px;
    }
    .online_lesson_outr .online_table_bx table tbody tr td a.upgrade_btn {
        padding: 6px 16px;
        font-size: 15px;
    }

    /*payment history page css*/
    .history_detail_bx {
        margin-top: 5px;
    }
    .history_detail_bx h3 {
        font-size: 21px;
        margin-bottom: 25px;
    }
    .history_detail_bx .histry_data_bx ul li {
        font-size: 17px;
        margin-bottom: 12px;
    }

    /*    profile page css*/
    .pro_left_bx {
        width: 230px;
    }
    .pro_right_bx {
        width: -moz-calc(100% - 275px);
        width: -webkit-calc(100% - 275px);
        width: -o-calc(100% - 275px);
        width: calc(100% - 235px);
    }
    .pro_right_bx .pro_form_outr .form_head h3 {
        font-size: 24px;
    }
    .pro_right_bx .pro_form_outr .form_head .edit_btn {
        top: 7px;
    }

}
