@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: 'Plantagenet Cherokee';
    src: url('../fonts/Plantagenet Cherokee.eot');
    src: url('../fonts/Plantagenet Cherokee.woff2') format('woff2'), url('../fonts/Plantagenet Cherokee.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlantagenetCherokee';
    src: url('../fonts/PlantagenetCherokee.woff') format('woff'), url('../fonts/PlantagenetCherokee.ttf') format('truetype'), url('../fonts/PlantagenetCherokee.svg#PlantagenetCherokee') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*:hover,
*:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: normal;
    color: #505050;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #000;
}

h2 {
    font-size: 102px;
    color: #3c3c3c;
    line-height: 103px;
    text-transform: uppercase;
    position: relative;
    padding-left: 18px;
}

h2:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #ed1c24;
    width: 5px;
    height: 100%;
}

p {
    font-size: 16px;
    color: #3c3c3c;
    margin: 0;
    padding: 0;
}

a {
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

strong,
b {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

ol,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.display_table {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.display_table_cell {
    display: table-cell;
    vertical-align: middle;
}

.wow {
    visibility: hidden;
}


/*header part start css*/
header
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar.navbar-inverse.header_nav {
    border-radius: 0;
    text-align: center;
    padding: 28px 15px;
    background-color:rgba(0, 0, 0, 0.8);
    margin-bottom: 0;
    border-bottom: 0;
    border-radius: 0;
    /*    position: fixed;*/
    /*    top: 0;
    left: 0;
    right: 0;
    z-index: 9;*/
    /*    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;*/
}


/*.navbar.navbar-inverse.header_nav.fixed-header {
    background-color: rgba(0, 0, 0, 0.8) !important;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    padding: 10px 0;
}*/

.navbar.navbar-inverse.header_nav ul li.header_logo {
    margin: 0 81px 0 30px;
}

.navbar.navbar-inverse.header_nav ul li.login_btn a:after,
.navbar.navbar-inverse.header_nav ul li.header_logo a:after {
    display: none;
}

.navbar.navbar-inverse.header_nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.navbar.navbar-inverse.header_nav ul li:nth-last-child(2),
.navbar.navbar-inverse.header_nav ul li:last-child {
    margin-right: 0;
}

.navbar.navbar-inverse.header_nav ul li:last-child {
    margin-left: 0;
}

#myNavbar ul {
    position: relative;
}

.navbar.navbar-inverse.header_nav ul li.login_btn {
    margin-left: 0;
    /* float: right; */
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navbar.navbar-inverse.header_nav ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.04em;
    display: inline-block;
    text-transform: uppercase;
}

.navbar.navbar-inverse.header_nav ul li a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #f5ee31;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.navbar.navbar-inverse.header_nav ul li a.active,
.navbar.navbar-inverse.header_nav ul li.current-menu-item a,
.navbar.navbar-inverse.header_nav ul li a:hover {
    color: #f5ee31;
}

.navbar.navbar-inverse.header_nav ul li a.active:after,
.navbar.navbar-inverse.header_nav ul li.current-menu-item a:after,
.navbar.navbar-inverse.header_nav ul li a:hover:after {
    width: 100%;
}

.navbar.navbar-inverse.header_nav ul li.login_btn a {
    color: #000;
    font-weight: 600;
    text-align: center;
    padding: 12px 34px;
    background-color: #f5ee31;
}

.navbar.navbar-inverse.header_nav ul li.login_btn a:hover,
.navbar.navbar-inverse.header_nav ul li.login_btn a:focus {
    background-color: #ce1119;
    color: #fff;
}

.side_dots {
    width: auto;
    position: fixed;
    right: 30px;
    top: 50%;
    z-index: 99999;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.side_dots ul li {
    margin-bottom: 20px;
}

.side_dots ul li:last-child {
    margin-bottom: 0;
}

.side_dots ul li a {
    width: 18px;
    height: 18px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.side_dots ul li a.active {
    background-color: #ed1c24;
}


/*banner con css*/

.banner_con .bc_video_bx {
    position: relative;
}

.banner_con .bc_video_bx,
.banner_con .bc_video_bx .video_over,
.banner_con .bc_video_bx .video_over .container {
    height: 100%;
}

.banner_con .bc_video_bx iframe {
    width: 100%;
    height: 100%;
    border: 0;
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -webkit-filter: blur(10px);
    filter: blur(10px);position: relative;
    z-index: -1;
}

.banner_con .bc_video_bx:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.49) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(255, 255, 255, 0.49)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.49) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.49) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.49) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.49) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1);
}

.banner_con {
    text-align: center;
    position: relative;
    height: 995px;
    /*
    margin-top: 115px;*/
}

.banner_con .banner_content {
	padding: 150px 0 0;
}

.banner_con .video_over {
    background-color: rgba(0, 0, 0, 0.38);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 22;
}

.banner_con .banner_content h1 {
    font-size: 127px;
    color: #fff;
    line-height: 145x;
    font-weight: 500;
    letter-spacing: normal;
}

.banner_con .banner_content h1 span {
    color: #f5ee31;
}

.banner_con .banner_content .hedr_btn_outr {
    margin-top: 23px;
}

.get_ouch_form .get_touh_fm_lt .form-group .sbmt_btn,
.blog_con .blog_lt_bx .view_all_btn,
.why_dd_drum_con .why_dd_detail .join_us,
.online_cont_inn .online_bottom_bx .video_trail,
.view_more_outr .view_more_btn,
.about_drum_con .about_lt_bx .free_trail_abt,
.banner_con .banner_content .hedr_btn_outr .baner_btn {
    font-size: 20px;
    font-weight: 400;
    width: 222px;
    padding: 21px 10px;
    margin-right: 11px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

.banner_con .banner_content .hedr_btn_outr .baner_btn:last-child {
    margin-right: 0;
}

.view_more_outr .view_more_btn,
.banner_con .banner_content .hedr_btn_outr .baner_btn.watch_video {
    background-color: #f3ec30;
    color: #010101;
    padding: 20px 10px;
    border: 1px solid transparent;
}

.banner_con .banner_content .hedr_btn_outr .baner_btn.watch_video:hover {
    background-color: transparent;
    border-color: #f3ec30;
    color: #f3ec30;
}

.login_rt_bx .form_bx_outr .form-group .sbmt_butn,
.testimonail_inn_pg .testimonal_main_bx .testml_vdeo_btn,
.get_ouch_form .get_touh_fm_lt .form-group .sbmt_btn,
.blog_con .blog_lt_bx .view_all_btn,
.why_dd_drum_con .why_dd_detail .join_us,
.online_cont_inn .online_bottom_bx .trail_free_btn,
.subscrbe_bx .form_are .sub_fild_bx .subscr_btn,
.about_drum_con .about_lt_bx .free_trail_abt,
.banner_con .banner_content .hedr_btn_outr .baner_btn.free_tril_btn {
    background: rgba(236, 28, 35, 1);
    background: -moz-linear-gradient(top, rgba(236, 28, 35, 1) 0%, rgba(198, 15, 21, 1) 47%, rgba(156, 1, 6, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236, 28, 35, 1)), color-stop(47%, rgba(198, 15, 21, 1)), color-stop(100%, rgba(156, 1, 6, 1)));
    background: -webkit-linear-gradient(top, rgba(236, 28, 35, 1) 0%, rgba(198, 15, 21, 1) 47%, rgba(156, 1, 6, 1) 100%);
    background: -o-linear-gradient(top, rgba(236, 28, 35, 1) 0%, rgba(198, 15, 21, 1) 47%, rgba(156, 1, 6, 1) 100%);
    background: -ms-linear-gradient(top, rgba(236, 28, 35, 1) 0%, rgba(198, 15, 21, 1) 47%, rgba(156, 1, 6, 1) 100%);
    background: linear-gradient(to bottom, rgba(236, 28, 35, 1) 0%, rgba(198, 15, 21, 1) 47%, rgba(156, 1, 6, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec1c23', endColorstr='#9c0106', GradientType=0);
    color: #fff;
}

.login_rt_bx .form_bx_outr .form-group .sbmt_butn:hover,
.login_rt_bx .form_bx_outr .form-group .sbmt_butn:focus,
.testimonail_inn_pg .testimonal_main_bx .testml_vdeo_btn:hover,
.testimonail_inn_pg .testimonal_main_bx .testml_vdeo_btn:focus,
.get_ouch_form .get_touh_fm_lt .form-group .sbmt_btn:hover,
.get_ouch_form .get_touh_fm_lt .form-group .sbmt_btn:focus,
.blog_con .blog_lt_bx .view_all_btn:hover,
.why_dd_drum_con .why_dd_detail .join_us:hover,
.online_cont_inn .online_bottom_bx .trail_free_btn:hover,
.subscrbe_bx .form_are .sub_fild_bx .subscr_btn:hover,
.subscrbe_bx .form_are .sub_fild_bx .subscr_btn:focus,
.about_drum_con .about_lt_bx .free_trail_abt:hover,
.banner_con .banner_content .hedr_btn_outr .baner_btn.free_tril_btn:hover {
    background: rgba(156, 1, 6, 1);
    background: -moz-linear-gradient(top, rgba(156, 1, 6, 1) 0%, rgba(198, 15, 21, 1) 47%, rgba(236, 28, 35, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(156, 1, 6, 1)), color-stop(47%, rgba(198, 15, 21, 1)), color-stop(100%, rgba(236, 28, 35, 1)));
    background: -webkit-linear-gradient(top, rgba(156, 1, 6, 1) 0%, rgba(198, 15, 21, 1) 47%, rgba(236, 28, 35, 1) 100%);
    background: -o-linear-gradient(top, rgba(156, 1, 6, 1) 0%, rgba(198, 15, 21, 1) 47%, rgba(236, 28, 35, 1) 100%);
    background: -ms-linear-gradient(top, rgba(156, 1, 6, 1) 0%, rgba(198, 15, 21, 1) 47%, rgba(236, 28, 35, 1) 100%);
    background: linear-gradient(to bottom, rgba(156, 1, 6, 1) 0%, rgba(198, 15, 21, 1) 47%, rgba(236, 28, 35, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c0106', endColorstr='#ec1c23', GradientType=0);
}


/*about drum css*/

.about_drum_con {
    position: relative;
    background-color: #fff3f3;
    z-index: 9999;
}

.about_drum_con::before {
    content: 'learn drum';
    position: absolute;
    top: -6px;
    left: 20px;
    color: #ffe7e7;
    font-size: 197px;
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.6;
}

.about_drum_con .about_lt_bx {
    width: 37%;
    padding: 200px 0 0;
}

.about_drum_con .about_lt_bx h2 {
    margin-bottom: 40px;
}

.about_drum_con .about_lt_bx p {
    font-size: 18px;
    color: #3c3c3c;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 33px;
}

.red_text {
    color: #ed1c24 !important;
}

.about_drum_con .about_rt_bx {
    width: 62%;
}

.about_drum_con .about_rt_bx img {
    margin-top: -64px;
    z-index: 1;
    position: relative;
    float: right;
}

.about_drum_con .about_lt_bx .free_trail_abt {
    margin-top: 45px;
}


/*testimonial sec css*/

.testimonial_con {
    position: relative;
    background: url(../images/testimonial_bg.jpg) center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.testimonial_con:before {
    content: 'testimonials';
    position: absolute;
    top: -6px;
    left: 0;
    color: #fff;
    font-size: 197px;
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.2;
    z-index: 1;
}

.testimonial_con h2 {
    color: #fff;
    margin: 68px 0 62px;
}

.testimonial_con .overlay_testimonal {
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 2;
}

.owl_slider .testimonal_main_bx {
    width: 78%;
    float: right;
}

.owl_slider .testimonal_main_bx .owl-carousel .item {
    border: 2px solid #fff;
    padding: 0 15px 15px;
}

.owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .blkqute {
    width: 143px;
    height: 64px;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #ed1c24;
    padding: 10px;
}

.owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .blkqute .fa.fa-quote-left {
    font-size: 42px;
}

.owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .profle_info {
    padding-left: 179px;
    margin-bottom: 12px;
}

.owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .profle_info h3,
.owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .profle_info h4 {
    color: #fff;
    font-size: 26px;
    font-weight: 400;
}

.owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .profle_info h4 {
    font-size: 18px;
}

.owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .detai_pro {
    padding-left: 26px;
}

.owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .detai_pro p {
    color: #fff;
    line-height: 33px;
    letter-spacing: 0.04em;
    font-size: 18px;
    font-weight: 400;
}

.owl_slider .testimonal_main_bx .owl-carousel .owl-nav.disabled {
    display: inline-block;
    width: auto;
    position: absolute;
    top: 40%;
    left: -150px;
}

.owl_slider .testimonal_main_bx .owl-carousel .owl-nav .owl-prev,
.owl_slider .testimonal_main_bx .owl-carousel .owl-nav .owl-next {
    width: 60px;
    height: 60px;
    background: url(../images/arrow-left.png) center top no-repeat;
}

.owl_slider .testimonal_main_bx .owl-carousel .owl-nav .owl-next {
    background: url(../images/arrow-right.png) center top no-repeat;
    margin-top: 30px;
}

.owl_slider .testimonal_main_bx .owl-carousel .owl-nav .owl-prev:hover,
.owl_slider .testimonal_main_bx .owl-carousel .owl-nav .owl-next:hover {
    opacity: 0.6;
}

.testml_vdeo_btn {
    background-color: #ffffff;
    color: #ed1c24;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 20px 33px;
    border: 1px solid transparent;
    float: right;
    margin: 28px 0 0;
}

.testml_vdeo_btn:hover {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}

.subscrbe_bx {
    background-color: #fff3f3;
    padding: 45px 40px;
    float: left;
    width: 100%;
    margin-top: 92px;
}

.subscrbe_bx .sub_sc_hed {
    margin-right: -4px;
    width: 37%;
}

.subscrbe_bx .form_are {
    width: 63%;
}

.subscrbe_bx .form_are,
.subscrbe_bx .sub_sc_hed {
    display: inline-block;
    vertical-align: middle;
}

.subscrbe_bx .sub_sc_hed h3 {
    color: #3c3c3c;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    border-left: 5px solid #ed1c24;
    line-height: 43px;
    padding-left: 11px;
}

.subscrbe_bx .form_are .sub_fild_bx .form-control {
    color: #3c3c3c;
    font-size: 17px;
    font-weight: 400;
    border-color: #ed1c24;
    height: 68px;
    background-color: transparent;
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: -webkit-calc(100% - 252px);
    width: calc(100% - 252px);
    max-width: 80%;
    margin-right: -4px;
}


/*.update_drum_con .subscrbe_bx .form_are .sub_fild_bx .form-control:hover,
.update_drum_con .subscrbe_bx .form_are .sub_fild_bx .form-control:focus {
    border-color: #fff !important;
}*/

.subscrbe_bx .form_are .sub_fild_bx .subscr_btn {
    width: 246px;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-left: 6px;
    height: 68px;
    letter-spacing: 0.025em;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}


/*privte lesson css*/

.prvte_leson_con {
    position: relative;
    background: url(../images/privte_bg.jpg) center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


/*.prvte_leson_con .container {
    position: relative;
    z-index: 2;
}*/

.prvte_leson_con:before {
    content: 'private lessons';
    position: absolute;
    top: -6px;
    left: 80px;
    color: #fff;
    font-size: 197px;
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
    z-index: 1;
}

.prvte_leson_con .overlay_testimonal {
    background-color: rgba(237, 28, 36, 0.82);
    position: relative;
    z-index: 22;
    /*  background: rgba(154, 0, 5, 1);
    background: -moz-linear-gradient(left, rgba(154, 0, 5, 1) 0%, rgba(237, 28, 35, 0.54) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(154, 0, 5, 1)), color-stop(100%, rgba(237, 28, 35, 0.54)));
    background: -webkit-linear-gradient(left, rgba(154, 0, 5, 1) 0%, rgba(237, 28, 35, 0.54) 100%);
    background: -o-linear-gradient(left, rgba(154, 0, 5, 1) 0%, rgba(237, 28, 35, 0.54) 100%);
    background: -ms-linear-gradient(left, rgba(154, 0, 5, 1) 0%, rgba(237, 28, 35, 0.54) 100%);
    background: linear-gradient(to right, rgba(154, 0, 5, 1) 0%, rgba(237, 28, 35, 0.54) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a0005', endColorstr='#ed1c23', GradientType=1);*/
}

.prvte_leson_con .rivte_head {
    margin: 70px 0 46px;
}

.prvte_leson_con .rivte_head .prvt_head_lt {
    width: 29.9%;
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.prvte_leson_con .rivte_head .prvt_head_lt h2 {
    color: #fff;
}

.prvte_leson_con .rivte_head .prvt_head_lt h2:before {
    background-color: #f5ee31;
}

.prvte_leson_con .rivte_head .prvt_head_rt {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}

.prvte_leson_con .rivte_head .prvt_head_rt h3 {
    color: #f5ee31;
    font-size: 45px;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 2px;
}

.prvte_leson_con .rivte_head .prvt_head_rt h4 {
    color: #fff;
    font-size: 34px;
    font-weight: 400;
    line-height: 43px;
}

.prvte_leson_con .rivte_head .prvt_head_rt h4 span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 45px;
}

.side_by_play .side_by_lt {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}

.side_by_play .side_by_lt h3 {
    font-size: 84px;
    font-weight: 400;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    line-height: 103px;
}

.side_by_play .side_by_rt {
    width: 52%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 37px;
}

.side_by_play .side_by_rt .private_vido_slder {
    width: 79%;
    float: left;
    box-shadow: 0 4px 18px rgba(29, 27, 27, 0.4);
}

.side_by_play .side_by_rt .private_vido_slder .carousel .item .item_inn {
    background-color: #f1dcdd;
    padding: 30px;
}

.side_by_play .side_by_rt .private_vido_slder .carousel .item .item_inn .video_bx {
    height: 330px;
}

.side_by_play .side_by_rt .private_vido_slder .carousel .item .item_inn .video_bx iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.side_by_play .side_by_rt .private_vido_slder .carousel .item .item_inn .video_des_bx {
    margin-top: 28px;
}

.side_by_play .side_by_rt .private_vido_slder .carousel .item .item_inn .video_des_bx h4 a {
    font-size: 24px;
    color: #3c3c3c;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
}

.side_by_play .side_by_rt .private_vido_slder .carousel .item .item_inn .video_des_bx h4 a:hover {
    color: #ed1c24;
}

.side_by_play .side_by_rt .private_vido_slder .carousel .item .item_inn .video_des_bx h4 span {
    float: right;
    font-size: 18px;
    color: #808080;
    margin: 3px 0 0;
}


/*.side_by_play .side_by_rt .private_vido_slder .owl-carousel .owl-nav {
    display: block;
}*/

.side_by_play .side_by_rt .private_vido_slder .carousel {
    position: static;
}


/*.side_by_play .side_by_rt .private_vido_slder .carousel .owl-nav .owl-prev.disabled,
.side_by_play .side_by_rt .private_vido_slder .carousel .owl-nav .owl-next.disabled {
    opacity: 0;
}*/

.prvte_leson_con .left.carousel-control,
.prvte_leson_con  .right.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
    width: 12%;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    background-image: none;
}

.prvte_leson_con  .left.carousel-control:after,
.prvte_leson_con  .right.carousel-control:after {
    content: '';
    width: 60px;
    height: 110px;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.prvte_leson_con .left.carousel-control:after
{
    content: '';
    background: url(../images/privte-arroe_lt.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.prvte_leson_con .right.carousel-control:after {
    content: '';
    background: url(../images/privte-arroe_rt.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.prvte_leson_con .left.carousel-control:hover,
.prvte_leson_con .right.carousel-control:hover {
    opacity: 0.5;
}

.prvte_leson_con .owl-nav .owl-prev {
    right: 0;
}

.prvte_leson_con.owl-next {
    left: 0;
}

.view_more_outr {
    margin-bottom: 22px;
}

.view_more_outr .view_more_btn {
    display: inline-block;
    background-color: #fff;
    color: #ed1c24;
    margin: 40px 0 30px;
}

.view_more_outr .view_more_btn:hover {
    border-color: #fff;
    color: #fff;
    background: transparent;
}

.view_more_outr p {
    font-style: italic;
    text-decoration: underline;
    color: #fff;
}


/*online lesson css*/

.online_less_con {
    background: #000000 url(../images/online_sec_bg.jpg) left top no-repeat;
}

.online_less_con h2 {
    color: #fff;
    margin: 90px 0 15px;
}

.online_less_con h2:before {
    background-color: #f5ee31;
    top: 0;
    height: 100%;
}

.online_cont_inn {
    padding: 0 0 102px 150px;
}

.online_cont_inn h3 {
    color: #f5ee31;
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 15px;
}

.online_cont_inn p {
    color: #dddddd;
    line-height: 28px;
    letter-spacing: 0.04em;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
}

.dark_red {
    color: #ed1c24 !important;
}

.online_cont_inn h4 {
    font-size: 34px;
    color: #fff;
    font-weight: 400;
    margin-top: 3px;
    display: inline-block;
}

.online_cont_inn h4 span {
    font-size: 45px;
    font-weight: 600;
}

.online_bottom_bx {
    width: 72.5%;
    text-align: center;
    margin: 55px 0 0;
}

.online_lssn_vide {
    margin-bottom: 50px;
}

.onlne_video_bx {
    display: inline-block;
    background-color: #d8d8d8;
    padding: 15px;
    margin-right: 14px;
    width: 48%;
}

.onlne_video_bx:last-child {
    margin-right: 0;
}

.onlne_video_bx {
    height: 220px;
}

.onlne_video_bx iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.online_cont_inn .online_bottom_bx .video_trail {
    margin-right: 15px;
}

.online_cont_inn .online_bottom_bx .video_trail:last-child {
    margin-right: 0;
}


/*why dd drum css*/

.why_dd_drum_con {
    position: relative;
    background: url(../images/why_dd_bg.jpg) center top no-repeat;
    padding-bottom: 127px;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 2;
}

.why_dd_drum_con:before {
    content: 'WHY DD DRUMS ';
    position: absolute;
    top: -6px;
    left: 160px;
    text-align: center;
    font-size: 197px;
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: 700;
    color: #dddcdc;
    opacity: 0.4;
}

.why_dd_drum_con h2 {
    margin: 107px 0 75px;
}

.why_dd_detail li {
    width: 29%;
    float: left;
    margin-right: 6%;
    margin-bottom: 35px;
    min-height: 162px;
    padding-right: 2%;
}

.why_dd_detail li:nth-last-child(1),
.why_dd_detail li:nth-last-child(2),
.why_dd_detail li:nth-last-child(3) {
    min-height: auto;
}

.why_dd_detail li:nth-child(3n+3) {
    margin-right: 0;
}

.why_dd_detail li h3 {
    color: #e0181f;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 4px;
}

.why_dd_detail li p {
    color: #3c3c3c;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.04em;
}

.why_dd_drum_con .why_dd_detail .join_us {
    display: inline-block;
    padding: ;
    width: 199px;
}


/*blog sec start*/

.blog_con {
    background: #fff3f3 url(../images/pattren_blog.png) center bottom;
    background-repeat: no-repeat;
    position: relative;
}

.blog_con:before {
    content: 'Blog about drums';
    position: absolute;
    top: -6px;
    left: 0;
    font-size: 197px;
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffecec;
}

.blog_con .container {
    position: relative;
    z-index: 1;
}

.blog_lt_bx {
    margin: 142px -4px 0 0;
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.blog_rt_bx {
    display: inline-block;
    width: 60%;
    font-size: 0;
}

.blog_lt_bx h2:before {
    top: 2px;
}

.blog_lt_bx h2 {
    margin-bottom: 40px;
}

.blog_lt_bx h3,
.blog_lt_bx p,
.blog_lt_bx h4 {
    line-height: 33px;
    letter-spacing: 0.04em;
}

.blog_lt_bx h3 {
    color: #e51921;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.blog_lt_bx p {
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 400;
}

.blog_lt_bx h4 {
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.blog_con .blog_lt_bx .view_all_btn {
    width: 160px;
    margin-top: 30px;
}

.blog_rt_bx .inner ul li .item_inn {
    box-shadow: 0 4px 18px rgba(116, 116, 116, 0.77);
    padding: 30px 30px 35px;
    background-color: #fff3f3;
    margin-bottom: 34px;
}


/*.blog_rt_bx .carousel-inner.vertical > .item .item_inn:last-child
{
    margin-bottom: 0;
}*/

.blog_rt_bx .inner ul li .item_inn h3 {
    font-size: 24px;
    font-weight: 600;
    color: #3c3c3c;
    margin-top: -5px;
    margin-bottom: 13px;
}

.blog_rt_bx .inner ul li .item_inn ul {
    float: left !important;
    width: 100% !important;
    margin-bottom: 20px !important;
}

.blog_rt_bx .inner ul li .item_inn ul li {
    float: left;
    color: #363636;
    font-size: 14px;
    font-weight: 400;
    margin-right: 15px !important;
}

.blog_rt_bx .inner ul li .item_inn ul li:last-child {
    margin-right: 0;
}

.blog_rt_bx .inner ul li .item_inn p {
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 33px;
}

.blog_rt_bx .inner ul li .item_inn p a {
    color: #e61a21;
    display: inline-block;
}

.blog_rt_bx .inner ul li .item_inn p a:hover {
    color: #3c3c3c;
}

.blog_rt_bx #thumbs2-prev, 
.blog_rt_bx #thumbs2-next
{
    left: auto;
    right: -80px;
    text-shadow: none;
    background-color: transparent;
    width: 60px !important;
    height: 60px !important;
}
.blog_rt_bx #thumbs2-prev:hover, 
.blog_rt_bx #thumbs2-next:hover
{
  opacity: 0.6;
}
.blog_rt_bx .carousel-control span {
    display: none;
}

.blog_rt_bx #thumbs2-next {
    bottom: auto;
    background: url(../images/red-arrow-top.png) center top no-repeat;
    top: 20px;
}

.blog_rt_bx #thumbs2-prev {
    top: auto;
    background: url(../images/red-arrow-bottom.png) center top no-repeat;
    bottom: 20px;
}


/*foter css*/

footer {
    background: url(../images/footer_bg.jpg) center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

footer .footer_overlay {
    background-color: rgba(237, 28, 36, 0.9);
    position: relative;
    z-index: 1;
}

footer .footer_overlay .container {
    position: relative;
    z-index: 2;
}

footer .footer_overlay:after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    background: url(../images/footer_men.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

footer .footer_lt_bx {
    margin: 107px 0 146px;
    width: 34%;
    display: inline-block;
    vertical-align: top;
}

footer .footer_lt_bx h2 {
    color: #fff;
    font-weight: normal;
    margin-bottom: 60px;
}

footer .footer_lt_bx h2:before {
    background-color: #f5ee31;
}

.ardess_bx {
    margin-bottom: 82px;
}

.ardess_bx ul li {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 43px;
}

.ardess_bx ul li:last-child {
    margin-bottom: 0;
}

.ardess_bx ul li span {
    width: 25px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.ardess_bx ul li span img {
    display: inline-block;
}

.ardess_bx ul li a {
    color: #fff;
}

.ardess_bx ul li a:hover {
    color: #f5ee31;
}

.footr_sm_bx h3 {
    color: #fefefe;
    font-size18px;
    font-weight: 600;
    margin-bottom: 40px;
}

.footr_sm_bx ul li {
    float: left;
    margin-right: 40px;
}

.footr_sm_bx ul li:last-child {
    margin-right: 0;
}

.footr_sm_bx ul li a {
    width: 88px;
    height: 88px;
    display: block;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #fff;
    position: relative;
    color: #fff;
}

.footr_sm_bx ul li a:hover {
    background-color: #fff;
    color: #e61a21;
}

.footr_sm_bx ul li a .fa {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 30px;
}

.footer_rt_bx {
    width: 41%;
    float: right;
    padding: 64px 0 0;
    z-index: 2;
    position: relative;
}

.footer_rt_bx h3 {
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-bottom: 35px;
}

.footer_rt_bx .form-group .form-control {
    background-color: transparent;
    border-color: #fff;
    border-radius: 0;
    height: 80px;
    font-size: 17px;
    color: #fff;
    box-shadow: none;
    padding: 6px 22px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.footer_rt_bx .form-group .form-control:hover,
.footer_rt_bx .form-group .form-control:focus {
    border-color: #f5ee31;
}

.footer_rt_bx .form-group .form-control.textarea_field {
    height: 222px;
    resize: none;
    padding-top: 30px;
}

.footer_rt_bx .form-group .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.6);
}

.footer_rt_bx .form-group .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.6);
}

.footer_rt_bx .form-group .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.6);
}

.footer_rt_bx .form-group .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.6);
}

.footer_rt_bx .form-group .form_sunbit {
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: #f5ee31;
    color: #141510;
    text-transform: uppercase;
    font-size: 30px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    border: 0;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.footer_rt_bx .form-group .form_sunbit:hover,
.footer_rt_bx .form-group .form_sunbit:focus {
    background-color: #fcfcfc;
}


/*copyright css*/

.copyright_con {
    background-color: #0e0e0e;
    padding: 30px 0;
}

.copyright_con p {
    font-size: 14px;
    color: #ed1c24;
}

.copyright_con p span {
    float: right;
    color: #fff;
}

.copyright_con p span a {
    color: #1cc8ed;
}

.copyright_con p span a:hover {
    color: #fff;
}


/*about us page*/

.banner_inn_con {
    height: 670px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}
.banner_inn_con .banner_content {
	padding: 150px 0 0;
}
.banner_inn_con .overlay {
    height: 100%;
    background-color: rgba(4, 4, 4, 0.35);
}


/*.banner_inn_con .container,*/

.banner_inn_con .container {
    height: 100%;
}

.banner_inn_con h1 {
    font-size: 110px;
    color: #f5ee31;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}


/*aout inn about sec*/

.about_inn_pg {
    background-color: #fff;
    position: relative;
}

.about_inn_pg:before {
    content: 'about us';
    left: 190px;
    color: #fffafa;
}

.about_inn_pg {
    padding: 104px 0;
}

.about_inn_pg.about_drum_con .about_rt_bx {
    width: 35%;
}

.about_inn_pg.about_drum_con .about_rt_bx img {
    margin: 0;
}

.about_inn_pg.about_drum_con .about_lt_bx {
    width: 64%;
    padding: 0 25px 0 0;
}

.about_inn_pg.about_drum_con .about_lt_bx h2 {
    margin-bottom: 40px;
    margin-top: -12px;
}

.about_inn_pg.about_drum_con .about_lt_bx p {
    margin-bottom: 20px;
}

.update_drum_con {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center top !important;
}

.update_drum_con .subscrbe_bx {
    background-color: transparent;
}

.update_drum_con .overlay {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 74px 0;
}

.update_drum_con .subscrbe_bx {
    margin: 0;
}

.update_drum_con .subscrbe_bx .sub_sc_hed h3 {
    color: #fff;
    border-color: #f5ee31;
}

.update_drum_con .subscrbe_bx .form_are .sub_fild_bx .subscr_btn {
    background: #f5ee31;
    color: #000;
    border: 1px solid transparent;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.update_drum_con .subscrbe_bx .form_are .sub_fild_bx .subscr_btn:hover,
.update_drum_con .subscrbe_bx .form_are .sub_fild_bx .subscr_btn:focus {
    border-color: #fff;
    background: transparent;
    color: #fff;
}

.update_drum_con .subscrbe_bx .form_are .sub_fild_bx .form-control {
    border-color: #f5ee31;
    color: #fff;
}
.update_drum_con .subscrbe_bx .form_are .sub_fild_bx .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
.update_drum_con .subscrbe_bx .form_are .sub_fild_bx .form-control::-moz-placeholder { /* Firefox 19+ */
 color: #999;
}
.update_drum_con .subscrbe_bx .form_are .sub_fild_bx .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
.update_drum_con .subscrbe_bx .form_are .sub_fild_bx .form-control:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

.update_drum_con .subscrbe_bx .form_are .sub_fild_bx .form-control:hover,
.update_drum_con .subscrbe_bx .form_are .sub_fild_bx .form-control:focus {
    border-color: #fff;
}


/*who david css*/

.why_david_con {
    padding: 80px 0;
    text-align: center;
}

.why_david_con h2 {
    text-align: center;
    margin: 0 0 77px;
    display: inline-block;
    border-right: 5px solid #ed1c24;
    line-height: 72px;
    padding-right: 20px;
}

.why_david_con h2:before {
    height: 100%;
    top: -2px;
}

.why_david_con .david_detai_bx .david_detai_lt {
    width: 35%;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.why_david_con .david_detai_bx .david_detai_rt {
    width: 65%;
    display: inline-block;
    padding-left: 75px;
    text-align: left;
    vertical-align: top;
}

.why_david_con .david_detai_bx .david_detai_rt p {
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.04em;
    margin-top: -10px;
}


/*contact us*/

.get_touch_tp {
    padding: 76px 0 0;
    background: rgba(226, 222, 222, 1);
    background: -moz-linear-gradient(left, rgba(226, 222, 222, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226, 222, 222, 1)), color-stop(53%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(226, 222, 222, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(226, 222, 222, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(226, 222, 222, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(226, 222, 222, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dede', endColorstr='#ffffff', GradientType=1);
    height: 743px;
}

.get_touch_head h2 {
    margin-bottom: 26px;
}

.get_touch_head h2::before {
    top: 0;
}

.get_touch_head p {
    font-weight: 400;
    font-size: 24px;
    padding-left: 23px;
    line-height: 49px;
}

.get_ouch_form {
    background-repeat: no-repeat !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    margin-top: 71px;
    height: 780px;
    width: 100%;
    position: relative;
    z-index: 22;
}

.get_ouch_form:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.form_style {
    padding: 84px 140px 105px;
    position: relative;
    z-index: 2;
}

.get_touh_fm_lt {
    width: 60%;
    margin-right: -4px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.get_touh_fm_rt {
    width: 40%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    background: ;
    padding-left: 94px;
    padding-right: 94px;
    position: relative;
}

.get_touh_fm_rt .overlay {
    position: relative;
    z-index: 2;
}

.get_touh_fm_rt:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -1px;
    bottom: 0;
    background: rgba(255, 242, 243, 0.9) url(../images/con_drum.png) 96% 96% no-repeat;
}

.form_style h3 {
    border-left: 5px solid #ed1c24;
    color: #fff;
    padding-left: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 74px;
}

.get_touh_fm_rt.form_style h3 {
    color: #000;
    margin-bottom: 100px;
}

.get_ouch_form .get_touh_fm_lt .form-control {
    height: auto;
    padding: 6px 0 28px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    border-bottom: 3px solid #d7d7d7 !important;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    margin-bottom: 44px;
}
.get_ouch_form .get_touh_fm_lt .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
.get_ouch_form .get_touh_fm_lt .form-control::-moz-placeholder { /* Firefox 19+ */
color: #999;
}
.get_ouch_form .get_touh_fm_lt .form-control:-ms-input-placeholder { /* IE 10+ */
 color: #999;
}
.get_ouch_form .get_touh_fm_lt .form-control:-moz-placeholder { /* Firefox 18- */
  color: #999;
}


.get_ouch_form .get_touh_fm_lt .form-control:hover,
.get_ouch_form .get_touh_fm_lt .form-control:focus {
    border-color: #f5ee31 !important;
}

.get_ouch_form .get_touh_fm_lt .form-group .input_field {
    width: 45%;
    float: left;
    margin-right: 10%;
}

.get_ouch_form .get_touh_fm_lt .form-group .input_field:last-child {
    margin-right: 0;
}

.get_ouch_form .get_touh_fm_lt .form-control.textarea_field {
    height: 120px;
    resize: none;
    padding-bottom: 10px;
}

.get_ouch_form .get_touh_fm_lt .form-group .sbmt_btn {
    border: 0;
    margin-top: 20px;
}

.get_touh_fm_rt ul li {
    margin-bottom: 69px;
    font-size: 17px;
    color: #3c3c3c;
    position: relative;
    padding-left: 84px;
}

.get_touh_fm_rt ul li:last-child {
    margin-bottom: 0;
}

.get_touh_fm_rt ul li strong {
    font-size: 18px;
    font-weight: 600;
}

.get_touh_fm_rt ul li a {
    color: #3c3c3c;
}

.get_touh_fm_rt ul li a:hover {
    color: #ed1c24;
}

.get_touh_fm_rt ul li span.con_icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    border: 1px solid #3c3c3c;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    vertical-align: middle;
    margin-right: 37px;
    position: absolute;
    top: -15px;
    left: 0;
}

.map_contr {
    height: 764px;
}

.map_contr iframe {
    height: 100%;
    width: 100%;
    border: 0;
}


/*join us page css*/

.testimonail_inn_pg {
    background: #fcfcfc;
    padding-bottom: 70px;
}

.testimonail_inn_pg:before {
    display: none;
}

.testimonail_inn_pg h2 {
    color: #3c3c3c;
    margin: 68px 0 62px;
}

.testimonail_inn_pg .owl_slider .testimonal_main_bx .owl-carousel .item {
    border: 2px solid #f5ee31;
}

.testimonail_inn_pg .owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .profle_info h3,
.testimonail_inn_pg .owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .profle_info h4 {
    color: #3c3c3c;
}

.testimonail_inn_pg .owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .detai_pro p {
    color: #3c3c3c;
}

.testimonail_inn_pg .owl_slider .testimonal_main_bx .owl-carousel .owl-nav .owl-prev,
.testimonail_inn_pg .owl_slider .testimonal_main_bx .owl-carousel .owl-nav .owl-next {
    background-size: 100% 100% !important;
}

.testimonail_inn_pg .owl_slider .testimonal_main_bx .owl-carousel .owl-nav .owl-next {
    background: url(../images/red-arrow-right.png) center top no-repeat;
}

.testimonail_inn_pg .owl_slider .testimonal_main_bx .owl-carousel .owl-nav .owl-prev {
    background: url(../images/red-arrow-left.png) center top no-repeat;
}

.testimonail_inn_pg .testimonal_main_bx .testml_vdeo_btn {
    border: 0;
}


/*join css*/

.learn_today_con {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    padding: 188px 0;
}

.login_center_bx {
    max-width: 1224px;
    width: 100%;
    margin: auto;
    /*
    display: table;
    table-layout: fixed;*/
    height: 599px;
    box-shadow: -5px 6px 5px rgba(0, 0, 0, 0.6);
}

.login_center_bx .login_lt_bx {
    width: 43%;
    margin-right: -4px;
    display: inline-block;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    position: relative;
    padding: 60px 72px;
    vertical-align: top;
    height: 100%;
}

.login_center_bx .login_lt_bx:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(3, 3, 3, 0.47);
}

.login_center_bx .login_rt_bx {
    display: inline-block;
    width: 57%;
    background-color: #fff;
    padding: 56px 70px;
    height: 100%;
}

.login_center_bx .login_lt_bx .login_lt_inn {
    position: relative;
    z-index: 2;
}

.login_center_bx .login_lt_bx .login_lt_inn h3 {
    border-left: 5px solid #ed1c24;
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 13px;
    line-height: 43px;
}

.login_center_bx .login_lt_bx .login_lt_inn h4 {
    font-size: 22px;
    color: #f5ee31;
    text-transform: capitalize;
    padding-left: 18px;
    margin-top: 22px;
}

.login_rt_bx ul {
    margin-bottom: 82px;
}

.login_rt_bx ul li {
    float: left;
    margin-right: 30px;
}

.login_rt_bx ul li:last-child {
    margin-right: 0;
}

.login_rt_bx ul li a {
    border-left: 5px solid #cdcdcd;
    padding-left: 9px;
    font-size: 26px;
    color: #cdcdcd;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    display: block;
}

.login_rt_bx ul li.active a,
.login_rt_bx ul li a:hover,
.login_rt_bx ul li a:focus {
    border-left: 5px solid #ed1c24;
    color: #000;
}

.form_bx_outr .form-group .inpu_filed {
    width: 48%;
    margin-right: -4px;
    display: inline-block;
    margin-left: 4%;
}

.form_bx_outr .form-group .inpu_filed:first-child {
    margin-left: 0;
}

.form_bx_outr .form-group .inpu_filed:last-child {
    margin-right: 0;
}

.form_bx_outr .form-group .form-control {
    height: auto;
    padding: 6px 0 23px;
    font-size: 17px;
    color: #000;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    border-bottom: 3px solid #d7d7d7 !important;
}
.form_bx_outr .form-group .form-control.form_password
{
    padding-right:140px;
}
.form_bx_outr .form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
.form_bx_outr .form-group .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
.form_bx_outr .form-group .form-control:-ms-input-placeholder { /* IE 10+ */
   color: #999;
}
.form_bx_outr .form-group .form-control:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

.form_bx_outr .form-group {
    margin-bottom: 29px;
    position: relative;
}

.login_rt_bx .form_bx_outr .form-group .sbmt_butn {
    border: 0;
    padding: 12px 43px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 10px;
}

.login_rt_bx .form_bx_outr .form-group:last-child {
    margin-bottom: 0;
}

.form_bx_outr .form-group .forget_pass {
	position: absolute;
	top: 6px;
	right: 0;
}
.form_bx_outr .form-group .forget_pass a
{
    display: inline-block;
    color: #cacaca;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}
.form_bx_outr .form-group .forget_pass a:hover,
.form_bx_outr .form-group .forget_pass a:focus
{
    color: #000;
}
/*blog page css*/

.blog_img_bx {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center top !important;
}

.blog_inn_pg .blog_list:nth-child(even) .blog_img_bx {
    float: right;
}

.blog_custm_bx {
    height: 595px;
}

.blog_text_bx,
.blog_img_bx {
    width: 50%;
    float: left;
}

.blog_text_bx {
    text-align: center;
    position: relative;
}

.blog_text_bx_inn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 200px;
}

.blog_text_bx h4,
.blog_text_bx h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
}

.blog_text_bx h4 {
    color: #8f8f8f;
    margin: 10px 0 34px;
}

.blog_text_bx h3 a {
    color: #ed1c24;
}

.blog_text_bx h3 a:hover,
.blog_text_bx h3 a:focus {
    color: #000;
}

.blog_text_bx p {
    line-height: 27px;
    letter-spacing: 0.04em;
    font-weight: 400;
    color: #242424;
}

.blog_text_bx .blog_sm_bx {
    padding: 20px 0;
    border-top: 1px solid #bcbbbb;
    max-width: 449px;
    width: 100%;
    margin: 72px auto 0;
}

.blog_text_bx .blog_sm_bx ul li {
    display: inline-block;
    margin-right: 99px;
}

.blog_text_bx .blog_sm_bx ul li:last-child {
    margin-right: 0;
}

.blog_text_bx .blog_sm_bx ul li a {
    display: inline-block;
    color: #acadad;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-weight: 600;
}

.blog_text_bx .blog_sm_bx ul li a:hover,
.blog_text_bx .blog_sm_bx ul li a:focus {
    color: #ed1c24;
}

.pagination_outr {
    float: left;
    width: 100%;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    padding: 45px 0 40px;
    text-align: center;
}

.pagination_bx {
    max-width: 486px;
    width: 100%;
    display: inline-block;
    background-color: #000000;
    box-shadow: 0 4px 5px rgba(7, 7, 7, 0.6);
}

.pagination_bx ul {
    float: left;
}

.pagination_bx ul li {
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 16.3px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.pagination_bx ul li:first-child {
    margin-left: 0;
}

.pagination_bx ul li a {
    width: 37px;
    height: 37px;
    border: 1px solid transparent;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    display: block;
    position: relative;
    color: #fff;
    display: block;
    padding: 7px;
}

.pagination_bx ul li a:hover,
.pagination_bx ul li a:focus {
    border-color: #fff;
}

.pagination_bx ul li a .fa {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pagination_bx ul li:first-child,
.pagination_bx ul li:last-child {
    padding: 0;
}

.pagination_bx ul li a.minus_btn.plus_btn {
    border-right: 0;
    border-left: 1px solid #fff;
}

.pagination_bx ul li a.minus_btn {
    width: 58px;
    height: 58px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    border-radius: 0;
    border: 0;
    border-right: 1px solid #fff;
}

.pagination_bx ul li a.minus_btn:hover,
.pagination_bx ul li a.minus_btn:focus {
    background-color: #ed1c24;
}


/*online lesson*/

.wasting_tym_con {
    padding: 100px 0 0;
}

.wasting_tym_inn {
    max-width: 1224px;
    margin: auto;
    width: 100%;
}

.wasting_tym_lt {
    width: 58%;
    float: left;
    margin-right: -4px;
    padding-bottom: auto;
}

.wasting_tym_rt {
    width: 42%;
    float: left;
}

.wasting_tym_rt img {
    position: relative;
    border: ;
    bottom: -33px;
    margin-top: -23px;
    z-index: 2;
}

.wasting_tym_lt h3 {
    font-size: 70px;
    text-transform: uppercase;
    color: #3c3c3c;
    padding-left: 18px;
    position: relative;
    margin-bottom: 55px;
}

.wasting_tym_lt h3:before {
    content: '';
    position: absolute;
    top: ;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #f5ee31;
}

.wasting_tym_lt h3 span {
    display: block;
    font-weight: 400;
    color: #ed1c24;
    font-size: 40px;
    margin-top: 8px;
}

.wasting_tym_lt p {
    line-height: 33px;
    letter-spacing: 0.04em;
}


/*improve druming css*/

.improve_druming_con {
    position: relative;
    padding-bottom: 80px;
    background-position: center top !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
}

.improve_druming_con .container {
    z-index: 22;
    position: relative;
}

.improve_druming_con:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.improve_druming_con h2 {
    font-size: 84px;
    font-weight: 400;
    line-height: 80px;
    margin: 85px 0;
}

.improve_druming_con h2 span {
    display: block;
    font-size: 50px;
    line-height: 50px;
    margin-top: 16px;
}

.improve_list_bx {
    text-align: center;
}

.improve_list_bx li {
    display: inline-block;
    max-width: 418px;
    width: 100%;
    margin-right: 70px;
    vertical-align: top;
}

.improve_list_bx li:last-child {
    margin-right: 0;
}


/*.improve_list_bx .list_bx
{
 
    display: inline-block;
}*/

.improve_list_bx .list_bx .box_heading {
    width: 100%;
    padding: 25px 10px;
    background: rgba(187, 0, 0, 1);
    background: -moz-linear-gradient(left, rgba(187, 0, 0, 1) 0%, rgba(244, 0, 0, 1) 50%, rgba(187, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(187, 0, 0, 1)), color-stop(50%, rgba(244, 0, 0, 1)), color-stop(100%, rgba(187, 0, 0, 1)));
    background: -webkit-linear-gradient(left, rgba(187, 0, 0, 1) 0%, rgba(244, 0, 0, 1) 50%, rgba(187, 0, 0, 1) 100%);
    background: -o-linear-gradient(left, rgba(187, 0, 0, 1) 0%, rgba(244, 0, 0, 1) 50%, rgba(187, 0, 0, 1) 100%);
    background: -ms-linear-gradient(left, rgba(187, 0, 0, 1) 0%, rgba(244, 0, 0, 1) 50%, rgba(187, 0, 0, 1) 100%);
    background: linear-gradient(to right, rgba(187, 0, 0, 1) 0%, rgba(244, 0, 0, 1) 50%, rgba(187, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb0000', endColorstr='#bb0000', GradientType=1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 11;
}

.improve_list_bx .list_bx .box_heading::after,
.improve_list_bx .list_bx .box_heading::before {
    content: '';
    position: absolute;
    bottom: -50px;
    z-index: 1;
    width: 40px;
    height: 50px;
    background-size: cover;
    -webkit-background-size: cover;
}

.improve_list_bx .list_bx .box_heading::before {
    background: url(../images/border-after.png) center top no-repeat;
    left: 0;
}

.improve_list_bx .list_bx .box_heading::after {
    background: url(../images/border-after_2.png) center top no-repeat;
    right: 0;
}

.improve_list_bx .list_bx .box_heading h3 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.025em;
}

.improve_list_bx .list_bx .box_content {
    padding: 0 40px;
}

.improve_list_bx .list_bx .box_content .box_content_inn {
    background-color: #fff;
    padding: 15px 0 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    position: relative;
    z-index: 22;
}

.improve_list_bx .list_bx .box_content .box_content_inn h3 {
    margin: 37px 0 42px;
    font-size: 25px;
    color: #3c3c3c;
    font-weight: 500;
}

.box_round_pri {
    width: 183px;
    height: 183px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f5e7e8;
    display: inline-block;
    position: relative;
}

.box_round_pri h4 {
    /*    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;*/
    margin: 47px 0 0;
    font-size: 17px;
    color: #3c3c3c;
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
}

.box_round_pri h4 span {
    font-size: 75px;
    font-weight: 700;
    color: #ce1119;
    margin: 0 4px;
    font-family: 'Plantagenet Cherokee';
}

.pri_off_bx {
    height: 82px;
    background-color: #f7ebec;
    padding: 18px 10px;
}

.pri_off_bx h5 {
    font-size: 50px;
    color: #ce1119;
    text-transform: uppercase;
    font-weight: 400;
}

.pri_off_bx h5 span {
    font-family: 'Plantagenet Cherokee';
    font-weight: 700;
}

.play_beat_lt .watch_btn,
.free_trial_sec .free_trial_inn .start_btn,
.signup_now_btn {
    display: inline-block;
    padding: 18px 33px;
    margin-top: 58px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    background: rgba(230, 26, 33, 1);
    background: -moz-linear-gradient(top, rgba(230, 26, 33, 1) 0%, rgba(158, 1, 6, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230, 26, 33, 1)), color-stop(100%, rgba(158, 1, 6, 1)));
    background: -webkit-linear-gradient(top, rgba(230, 26, 33, 1) 0%, rgba(158, 1, 6, 1) 100%);
    background: -o-linear-gradient(top, rgba(230, 26, 33, 1) 0%, rgba(158, 1, 6, 1) 100%);
    background: -ms-linear-gradient(top, rgba(230, 26, 33, 1) 0%, rgba(158, 1, 6, 1) 100%);
    background: linear-gradient(to bottom, rgba(230, 26, 33, 1) 0%, rgba(158, 1, 6, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61a21', endColorstr='#9e0106', GradientType=0);
}

.play_beat_lt .watch_btn:hover,
.play_beat_lt .watch_btn:focus,
.free_trial_sec .free_trial_inn .start_btn:hover,
.free_trial_sec .free_trial_inn .start_btn:focus,
.signup_now_btn:focus,
.signup_now_btn:hover {
    color: #fff;
    background: rgba(158, 1, 6, 1);
    background: -moz-linear-gradient(top, rgba(158, 1, 6, 1) 0%, rgba(230, 26, 33, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(158, 1, 6, 1)), color-stop(100%, rgba(230, 26, 33, 1)));
    background: -webkit-linear-gradient(top, rgba(158, 1, 6, 1) 0%, rgba(230, 26, 33, 1) 100%);
    background: -o-linear-gradient(top, rgba(158, 1, 6, 1) 0%, rgba(230, 26, 33, 1) 100%);
    background: -ms-linear-gradient(top, rgba(158, 1, 6, 1) 0%, rgba(230, 26, 33, 1) 100%);
    background: linear-gradient(to bottom, rgba(158, 1, 6, 1) 0%, rgba(230, 26, 33, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e0106', endColorstr='#e61a21', GradientType=0);
}


/*guarntee sec*/

.guarantee_con {
    background-position: center top !important -webkit-background-size: cover !important;
    background-size: cover !important;
    padding: 90px 0 85px;
    position: relative;
}

.guarantee_con:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(21, 21, 21, 0.71);
}

.guarantee_con .container {
    position: relative;
    z-index: 22;
}

.guarntee_inn {
    max-width: 1218px;
    width: 100%;
    margin: auto;
}

.gurantee_logo {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-right: -4px;
}

.gurantee_content {
    display: inline-block;
    width: 80%;
    padding-left: 65px;
}

.gurantee_content h3 {
    font-size: 45px;
    font-weight: 500;
    color: #f5ee31;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.gurantee_content p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.gurantee_content p span {
    color: #ce1119;
}


/*what_get sec*/

.what_get_con {
    padding: 70px 0;
    background-position: center top !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    position: relative;
}

.what_get_con:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.what_get_con .container {
    position: relative;
    z-index: 22;
}

.what_get_inn {
    max-width: 1130px;
    width: 100%;
    margin: auto;
}

.what_get_lt {
    width: 56%;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    padding-right: 30px;
}

.what_get_rt {
    width: 44%;
    display: inline-block;
}

.what_get_rt h3 {
    font-size: 50px;
    font-weight: 400;
    color: #3c3c3c;
    text-transform: uppercase;
    position: relative;
    padding-left: 15px;
    margin-bottom: 47px;
}

.what_get_rt h3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f5ee31;
    width: 5px;
    height: 100%;
}

.what_get_rt ul li {
    position: relative;
    padding-left: 32px;
    font-size: 22px;
    letter-spacing: 0.04em;
    line-height: 40px;
    color: #3c3c3c;
}

.what_get_rt ul li:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #ed1c24;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}


/*thing learn*/

.thing_lern_con {
    padding: 94px 0 40px;
}

.thing_lern_con h2 {
    font-size: 50px;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 48px;
    margin-bottom: 75px;
}

.thing_lern_con h2:before {
    height: 90%;
}

.thing_lern_box ul li {
    float: left;
    margin-right: 44px;
    margin-bottom: 42px;
    position: relative;
}

.thing_lern_box ul li:nth-child(1):after,
.thing_lern_box ul li:nth-child(3):after {
    bottom: -30px;
}

.thing_lern_box ul li:nth-child(4),
.thing_lern_box ul li:nth-child(5) {
    margin-right: 50px;
}

.thing_lern_box ul li::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(3, 3, 3, 0.3);
}

.thing_lern_box ul li::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    bottom: -43px;
    background: url(../images/box-doen-shadow.png) center bottom no-repeat;
    background-size: 100% 11%;
    left: 0;
}

.thing_lern_box ul li .thing_overlay {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 18px 10px;
    z-index: 22
}

.thing_lern_box ul li:nth-child(3n+3) {
    margin-right: 0;
}

.thing_lern_box ul li .thing_overlay h3 a {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.thing_lern_box ul li .thing_overlay h3 a:hover {
    color: #f5ee31;
}


/*

.thing_lern_box ul li:first-child {
    width: 33%;
}

.thing_lern_box ul li:nth-child(2) {
    width: 40%;
}

.thing_lern_box ul li:nth-child(3) {
    width: 40%;
}
*/


/*free trial css*/

.free_trial_sec {
    text-align: center;
    background-position: center top !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    position: relative;
    padding: 85px 0;
}

.free_trial_sec:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.free_trial_sec .free_trial_inn {
    position: relative;
    z-index: 22;
}

.free_trial_sec .free_trial_inn h3 {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    padding-left: 15px;
}

.free_trial_sec .free_trial_inn h3 span {
    font-size: 50px;
    color: #f5ee31;
}

.free_trial_sec .free_trial_inn h3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #f5ee31;
}

.free_trial_sec .free_trial_inn .start_btn {
    vertical-align: middle;
    margin: 0 0 0 60px;
}


/*play beat sce css*/

.play_beat_con {
    padding: 70px 0 78px;
}

.play_beat_con .play_beat_bx {
    max-width: 1220px;
    width: 100%;
    margin: auto;
}

.play_beat_con .play_beat_bx .play_beat_lt {
    width: 46%;
    display: inline-block;
    margin-right: -4px;
    padding-top: 30px;
    vertical-align: top;
}

.play_beat_con .play_beat_bx .play_beat_rt {
    width: 54%;
    display: inline-block;
    padding-left: 40px;
}

.play_beat_lt h3 {
    font-size: 40px;
    font-weight: 500;
    color: #3c3c3c;
    padding-left: 25px;
    text-transform: uppercase;
    line-height: 56px;
    letter-spacing: 0.025em;
    position: relative;
    margin-bottom: 58px;
}

.play_beat_lt h3 strong {
    font-weight: 600;
}

.play_beat_lt h3:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #ed1c24;
    height: 85%;
    width: 5px;
}

.play_beat_lt .watch_btn {
    margin: 0 0 0 34px;
}

.play_beat_con .play_beat_bx .play_beat_rt .video_bxx {
    width: 90%;
    background-color: #f6f6f6;
    padding: 30px 30px 90px;
    box-shadow: 0 4px 18px rgba(116, 116, 116, 0.77);
    height: 330px;
}

.play_beat_con .play_beat_bx .play_beat_rt .video_bxx iframe {
    width: 100%;
    height: 100%;
    border: 0;
}


/*private css*/

.testimoail_inn_con {
    position: relative;
    text-align: center;
    background-color: #feeff0;
    padding: 78px 0 62px;
}

.testimoail_inn_con:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/basboll.png) left top no-repeat;
    width: 256px;
    height: 272px;
}

.testimoail_inn_con::after {
    content: 'Testimonial';
    position: absolute;
    top: 67px;
    right: 0;
    color: #fee6e7;
    font-size: 166px;
    line-height: 0.8;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.7;
    left: 0;
    margin: auto;
}

.testimoail_inn_con h2 {
    display: inline-block;
    margin-bottom: 32px;
}

.testimoail_inn_con .container {
    position: relative;
    z-index: 9;
}

.privte_testimonal {
    width: 78%;
    display: inline-block;
}

.privte_testimonal .item_inn {
    padding: 100px 0 0;
}

.privte_testimonal .item_profile {
    background-color: #f5ee31;
    padding: 100px 100px;
}

.privte_testimonal .item_profile figure {
    width: 156px;
    height: 156px;
    margin: -194px auto 33px;
    /* position: relative; */
    /* top: -83px; */
}

.privte_testimonal .item_profile figure img {
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.privte_testimonal .content_bx {
    position: relative;
    text-align: left;
}

.privte_testimonal .content_bx:before,
.privte_testimonal .content_bx:after {
    content: '';
    position: absolute;
    width: 32px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.privte_testimonal .content_bx:before {
    background: url(../images/quote_icon.png);
    top: -14px;
    left: -52px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.privte_testimonal .content_bx:after {
    background: url(../images/quote_icon_2.png);
    bottom: -20px;
    right: -30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.privte_testimonal .content_bx p {
    line-height: 32px;
    letter-spacing: 0.04em;
}

.privte_testimonal .testimonalname_pro {
    text-align: center;
    margin: 45px 0 0;
}

.privte_testimonal .testimonalname_pro h3 {
    font-size: 20px;
    color: #c91017;
    font-weight: 500;
    margin-bottom: 15px;
}

.privte_testimonal .testimonalname_pro h4 {
    color: #1d262b;
    font-weight: 400;
    font-size: 16px;
}

.privte_testimonal .owl-carousel .owl-nav .owl-next,
.privte_testimonal .owl-carousel .owl-nav .owl-prev {
    width: 59px;
    height: 59px;
    position: absolute;
    top: 43%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.privte_testimonal .owl-carousel .owl-nav .owl-next:hover,
.privte_testimonal .owl-carousel .owl-nav .owl-prev:hover {
    opacity: 0.7;
}

.privte_testimonal .owl-carousel .owl-nav .owl-next {
    background: url(../images/black_arrow_lt.png);
    left: -152px;
}

.privte_testimonal .owl-carousel .owl-nav .owl-prev {
    background: url(../images/black_arrow_rt.png);
    right: -152px;
}


/*gurantrr sec css*/

.gurante_sec_con {
    position: relative;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    width: 100%;
    display: inline-block;
}

.gurante_sec_con:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(237, 28, 36, 0.8);
}

.gurantee_box {
    padding: 59px 0;
}

.gurantee_box p {
    font-size: 29px;
    color: #fff;
    font-weight: 600;
    position: relative;
    padding-left: 20px;
    line-height: 50px;
}

.gurantee_box p span {
    color: #f5ee31;
    font-weight: 700;
}

.gurantee_box p::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 0;
    background-color: #f5ee31;
    width: 5px;
    height: 80%;
}


/*drum_school*/

.drum_school {
    padding: 178px 0 88px;
}

.drum_school .drum_school_bx {
    background-color: #ed1c24;
    padding: 90px;
}

.drum_school_lt {
    margin-top: -172px;
    display: inline-block;
    margin-right: -4px;
    width: 48.5%;
    vertical-align: middle;
}

.drum_school_lt img {
    box-shadow: -4px 10px 5px rgba(0, 0, 0, 0.3)
}

.drum_school_rt {
    display: inline-block;
    width: 31.5%;
    margin-left: 12%;
    vertical-align: middle;
}

.drum_school_rt p {
    margin-bottom: 33px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 33px;
}

.drum_school_rt p span.drum_school_text {
    font-size: 30px;
    font-weight: 500;
    color: #3c3c3c;
    position: relative;
}

.drum_school_rt p span.drum_school_text:before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 5px;
    height: 100%;
    background-color: #f5ee31;
}


/*thing banner*/

.thing_banner_con {
    background-color: #000000;
    padding: 82px 0;
}

.thing_banner_con h4 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    margin-left: 158px;
    position: relative;
    display: inline-block;
    padding-left: 14px;
}

.thing_banner_con h4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #f5ee31;
}

.thing_banner_con h4 span {
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 26px;
}


/*get startd*/

.get_startd_con h2 {
    margin: 85px 0 18px;
}

.get_startd_con .get_startd_ser {
    position: relative;
    z-index: 22;
}

.get_startd_con .lesson_pakege {
    width: 36%;
    float: left;
    margin-left: -70px;
    padding-top: 230px;
}

.get_startd_con .lesson_pakege figure:nth-child(2) {
    text-align: right;
    margin-top: 110px;
}

.get_startd_con .improve_list_bx {
    width: 72.5%;
    margin-right: -68px;
    float: right;
}

.get_startd_con .improve_list_bx li {
    display: inline-block;
    max-width: 550px;
    width: 100%;
    margin-right: 26px;
    vertical-align: top;
}

.get_startd_con .improve_list_bx li .list_bx .box_heading {
    padding: 37px 10px;
}

.get_startd_con .improve_list_bx li:last-child {
    margin-right: 0;
}

.get_startd_con .improve_list_bx li .box_round_pri p {
    font-size: 22px;
    color: #3c3c3c;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn h3 {
    text-transform: uppercase;
    margin-bottom: 22px;
}

.get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn h6 {
    font-size: 17px;
    color: #3c3c3c;
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 27px;
}

.get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn h6 span {
    font-size: 54px;
    font-weight: 700;
    color: #ce1119;
    margin: 0 4px;
    font-family: 'Plantagenet Cherokee';
}

.get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn .pri_off_bx {
    padding: 36px 10px;
    height: 95px;
}

.get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn .pri_off_bx h5 {
    font-size: 24px;
}

.duration_bx {
    padding: 12px 0;
}

.duration_bx .duration_lt {
    width: 50%;
    display: inline-block;
    border-right: 1px solid #818181;
    margin-right: -4px;
    padding: 28px 0;
}

.get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn .duration_bx .duration_lt h3 {
    margin: 0 0 22px;
    font-size: 22px;
    color: #666666;
    font-weight: 400;
}

.get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn .duration_bx .duration_lt h4 {
    font-size: 26px;
    color: #3c3c3c;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.duration_bx .duration_rt {
    margin-right: 0;
    border-right: 0;
}

.get_startd_con .improve_list_bx ul {
    margin-bottom: 55px;
}

.private_fre_trial.free_trial_sec .free_trial_inn .start_btn {
    padding: 18px 53px;
}

.notes {
    color: #e21820;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
}

.our_gurnte_con {
    padding: 36px 0;
}

.our_gurnte_inn {
    text-align: center;
}

.our_gurnte_inn figure,
.our_gurnte_inn h4 {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
}

.our_gurnte_inn h4 {
    width: 63%;
    margin-right: 30px;
    text-align: left;
    line-height: 51px;
    color: #3c3c3c;
    font-size: 30px;
    font-weight: 500;
}

.our_gurnte_inn h4 strong {
    color: #df171f;
    text-transform: uppercase;
    font-weight: 700;
}


/* Thank You Page */

.thankyou-cover {
    position: relative;
    width: 100%;
    display: inline-block;
}

.thankyou-cover.contact-page.text-center {
    padding: 100px 0;
}

.thankyou-cover .tick {
    border: solid 2px #16bb16;
    border-radius: 100%;
    color: #16bb16;
    display: block;
    font-size: 65px;
    height: 160px;
    line-height: 160px;
    margin: 0 auto 70px;
    text-align: center;
    width: 160px;
}

.thankyou-cover .tick i {
    font-size: 65px;
}

.thankyou-cover .thnkyou-message {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    margin-bottom: 20px;
    padding: 15px;
}

.thankyou-cover .thnkyou-message p {
    font-size: 18px;
    margin: 0;
    font-weight: 400;
    color: #187218;
}

.typing_text
{
    color: #fff;text-transform: uppercase;
    font-size: 45px;
    font-weight: 400;
}

.lern_banner_typ h4
{

    display: inline-block;
}
.typed-cursor {
	font-size: 34px;
	color: rgb(255, 255, 255);
}

@media (min-width:1600px) {
    .container {
        width: 1588px;
    }
}

@media(max-width:1599px) {
    .navbar.navbar-inverse.header_nav {
        padding: 18px 15px;
    }
    .navbar.navbar-inverse.header_nav ul li.header_logo img {
        width: 130px;
    }
    .navbar.navbar-inverse.header_nav ul li.login_btn a {
        padding: 8px 24px 8px;
        font-size: 16px;
        display: inline-block;
    }
    .navbar.navbar-inverse.header_nav ul li {
        margin-right: 25px;
    }
    .navbar.navbar-inverse.header_nav ul li a {
        font-size: 16px;
    }
    .navbar.navbar-inverse.header_nav ul li.header_logo {
        margin: 0 50px 0 20px;
    }
    /*    bannner css*/
    h2 {
        font-size: 45px;
        line-height: 52px;
    }
    .banner_con {
        height: 700px;
    }
    .banner_con .banner_content {
    padding: 100px 0 0;
}
    .banner_con .banner_content h1 {
        font-size: 80px;
        line-height: 96px;
    }
    .blog_con .blog_lt_bx .view_all_btn,
    .why_dd_drum_con .why_dd_detail .join_us,
    .online_cont_inn .online_bottom_bx .video_trail,
    .view_more_outr .view_more_btn,
    .about_drum_con .about_lt_bx .free_trail_abt,
    .banner_con .banner_content .hedr_btn_outr .baner_btn {
        font-size: 18px;
        width: 200px;
        padding: 18px 10px;
    }
    .view_more_outr .view_more_btn,
    .banner_con .banner_content .hedr_btn_outr .baner_btn.watch_video {
        padding: 17px 10px;
    }
    .testimoail_inn_con::after,
    .blog_con::before,
    .why_dd_drum_con::before,
    .prvte_leson_con::before,
    .testimonial_con::before,
    .about_drum_con::before {
        top: -5px;
        font-size: 147px;
    }
    .about_drum_con .about_lt_bx {
        padding: 115px 0 0;
        width: 46%;
    }
    .about_drum_con .about_rt_bx img {
        width: 80%;
    }
    .about_drum_con .about_lt_bx h2 {
        margin-bottom: 20px;
    }
    .about_drum_con .about_lt_bx p {
        font-size: 16px;
        line-height: 30px;
    }
    .about_drum_con .about_lt_bx .free_trail_abt {
        margin-top: 20px;
    }
    .owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .blkqute {
        width: 100px;
        height: 46px;
    }
    .owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .blkqute .fa.fa-quote-left {
        font-size: 26px;
    }
    .owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .profle_info {
        padding-left: 119px;
    }
    .owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .profle_info h3
    {
        font-size: 22px;
    }
    
    .owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .profle_info h4
    {
        font-size: 18px;
    }
    .owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .detai_pro p {
        line-height: 30px;
        font-size: 16px;
    }
    .owl_slider .testimonal_main_bx .owl-carousel .item .item_inn .detai_pro {
        padding-left: 15px;
    }
    .owl_slider .testimonal_main_bx .owl-carousel .owl-nav .owl-prev,
    .owl_slider .testimonal_main_bx .owl-carousel .owl-nav .owl-next {
        width: 50px;
        height: 50px;
        background-size: 100% 100%;
    }
    .owl_slider .testimonal_main_bx .owl-carousel .owl-nav.disabled {
        left: -100px;
    }
    .testimonial_con h2 {
        margin: 68px 0 32px;
    }
    .testml_vdeo_btn {
        font-size: 18px;
        padding: 16px 23px;
    }
    .subscrbe_bx {
        padding: 35px 30px;
        margin-top: 52px;
    }
    .subscrbe_bx .sub_sc_hed h3 {
        font-size: 25px;
    }
    .subscrbe_bx .sub_sc_hed {
        width: 42%;
    }
    .subscrbe_bx .form_are {
        width: 58%;
    }
    .subscrbe_bx .form_are .sub_fild_bx .form-control {
        height: 58px;
        width: -webkit-calc(100% - 222px);
        width: calc(100% - 222px);
        max-width: 64.5%;
    }
    .subscrbe_bx .form_are .sub_fild_bx .subscr_btn {
        width: 216px;
        height: 58px;
        font-size: 18px;
    }
    .prvte_leson_con .rivte_head .prvt_head_rt h3 {
        font-size: 40px;
        line-height: 39px;
    }
    .prvte_leson_con .rivte_head .prvt_head_rt h4 span {
        font-size: 40px;
    }
    .prvte_leson_con .rivte_head .prvt_head_rt h4 {
        font-size: 30px;
    }
    .side_by_play .side_by_lt h3 {
        font-size: 60px;
        line-height: 74px;
    }
    .side_by_play .side_by_rt .private_vido_slder .owl-carousel .item .item_inn {
        padding: 20px;
    }
    .side_by_play .side_by_rt .private_vido_slder .owl-carousel .item .item_inn .video_des_bx {
        margin-top: 17px;
    }
    .side_by_play .side_by_rt .private_vido_slder .owl-carousel .item .item_inn .video_des_bx h4 a {
        font-size: 20px;
    }
    .side_by_play .side_by_rt .private_vido_slder .owl-carousel .item .item_inn .video_des_bx h4 span {
        font-size: 15px;
        margin: 2px 0 0;
    }
    .side_by_play .side_by_rt .private_vido_slder .owl-carousel .owl-nav .owl-prev,
    .side_by_play .side_by_rt .private_vido_slder .owl-carousel .owl-nav .owl-next {
        width: 7%;
    }
    .side_by_play .side_by_rt .private_vido_slder .owl-carousel .owl-nav .owl-prev:after,
    .side_by_play .side_by_rt .private_vido_slder .owl-carousel .owl-nav .owl-next:after {
        width: 30px;
        height: 70px;
    }
    .side_by_play .side_by_rt .private_vido_slder .owl-carousel .item .item_inn .video_bx {
        height: 250px;
    }
    .online_less_con h2 {
        margin: 50px 0 15px;
    }
    .online_cont_inn h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .online_cont_inn p {
        ;
        line-height: 25px;
        font-size: 15px;
    }
    .online_cont_inn h4 {
        font-size: 30px;
    }
    .online_cont_inn h4 span {
        font-size: 40px;
    }
    .online_bottom_bx {
        margin: 25px 0 0;
    }
    .onlne_video_bx {
        padding: 10px;
        margin-right: 10px;
    }
    .onlne_video_bx {
        width: 48%;
        height: 150px;
    }
    .online_lssn_vide {
        margin-bottom: 30px;
    }
    .online_cont_inn .online_bottom_bx .video_trail {
        padding: 14px 10px !important;
    }
    .online_cont_inn {
	padding: 0 60px 55px 0;
}
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .about_drum_con::before,
        .why_dd_drum_con::before {
            top: 0;
        }
    }
    .why_dd_drum_con h2 {
        margin: 50px 0 30px;
    }
    .why_dd_drum_con {
        padding-bottom: 50px;
    }
    .why_dd_detail li {
        width: 31%;
        float: left;
        margin-right: 3%;
        margin-bottom: 25px;
        min-height: 167px;
        padding-right: 2%;
    }
    .why_dd_detail li h3 {
        font-size: 18px;
    }
    .why_dd_detail li p {
        font-size: 16px;
        line-height: 28px;
    }
    .blog_lt_bx {
        margin: 102px -4px 0 0;
        width: 45%;
    }
    .blog_con::before {
        font-size: 139px;
    }
    .blog_lt_bx h2 {
        margin-bottom: 10px;
    }
    .blog_lt_bx h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .blog_lt_bx h3 br {
        display: none;
    }
    .blog_rt_bx {
        width: 50%;
    }
    .blog_lt_bx p {
        font-size: 16px;
        line-height: 28px;
    }
    .blog_lt_bx h4 {
        font-size: 17px;
        line-height: 28px;
    }
   /* .blog_rt_bx .carousel {
        width: 100%;
    }*/
    
    .blog_rt_bx #thumbs2
    {
        width:100%;
        height: 670px;
    }
   .blog_rt_bx .inner ul li .item_inn h3 {
        font-size: 20px;
    }
   .blog_rt_bx .inner ul li .item_inn ul {
        margin-bottom: 10px !important;
    }
.blog_rt_bx .inner ul li .item_inn p {
	font-size: 14px;
	line-height: 25px;
}
 .blog_rt_bx #thumbs2-prev, .blog_rt_bx #thumbs2-next {
        width: 50px !important;
        height: 50px !important;
        right: -50px;
    }
    .blog_rt_bx #thumbs2-prev,
    .blog_rt_bx #thumbs2-next{
        background-size: 100% 100%;
    }
     .blog_rt_bx .inner ul li .item_inn{
        margin-bottom: 14px;
        padding: 25px 30px;
    }
    footer .footer_lt_bx {
        margin: 50px 0 106px;
    }
    .footer_rt_bx {
        padding: 70px 0 50px;
    }
    footer .footer_lt_bx h2 {
        margin-bottom: 30px;
    }
    .ardess_bx ul li {
        font-size: 17px;
        ;
        margin-bottom: 23px;
    }
    .ardess_bx {
        margin-bottom: 42px;
    }
    .footr_sm_bx h3 {
        margin-bottom: 30px;
    }
    .footr_sm_bx ul li {
        margin-right: 30px;
    }
    .footr_sm_bx ul li a {
        width: 68px;
        height: 68px;
    }
    .footer_rt_bx h3 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .footer_rt_bx .form-group .form-control {
        height: 60px;
        padding: 6px 12px;
    }
    .footer_rt_bx .form-group .form-control.textarea_field {
        height: 142px;
        padding-top: 15px;
    }
    .footer_rt_bx .form-group .form_sunbit {
        height: 60px;
        font-size: 24px;
    }
    footer .footer_overlay::after {
        width: 60%;
        height: 90%;
        background-size: 100% 100%;
    }
    .copyright_con {
        padding: 20px 0;
    }
    /*    about page inn css*/
    .banner_inn_con {
        height: 430px;
        background-position: center top !important;
        background-repeat: no-repeat !important;
        -webkit-background-size: cover !important;
        background-size: cover !important;
    }
    .banner_inn_con .banner_content {
    padding: 122px 0 0; 
}
    .banner_inn_con h1 {
        font-size: 70px;
    }
    .why_david_con {
        padding: 50px 0;
    }
    .why_david_con h2 {
        margin: 0 0 47px;
    }
    .about_inn_pg {
        padding: 50px 0;
    }
    .about_inn_pg.about_drum_con .about_lt_bx p {
        margin-bottom: 10px;
    }
    .update_drum_con .overlay {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px 0;
    }
    .about_inn_pg.about_drum_con .about_lt_bx h2 {
        margin-bottom: 20px;
    }
    /*    contact us page */
    .get_touh_fm_rt ul li:last-child span.con_icon {
        top: 0;
    }
    .get_touh_fm_rt ul li:nth-child(2) {
        margin-bottom: 38px;
    }
    .get_touh_fm_rt::before {
        right: -1px;
        background-size: 35%;
    }
    .get_touch_tp {
        padding: 50px 0 0;
        height: 503px;
    }
    .map_contr {
        height: 503px;
    }
    .get_touch_head h2 {
        margin-bottom: 10px;
    }
    .get_touch_head p {
        font-size: 20px;
        line-height: 35px;
    }
    .form_style h3 {
        font-size: 25px;
        margin-bottom: 40px;
    }
    .get_ouch_form {
        margin-top: 52px;
        height: 540px;
    }
    .get_touh_fm_rt.form_style h3 {
        margin-bottom: 40px;
    }
    .form_style {
        padding: 60px 60px;
    }
    .get_ouch_form .get_touh_fm_lt .form-control {
        padding: 6px 0 17px;
        font-size: 15px;
        margin-bottom: 24px;
    }
    .get_touh_fm_rt ul li {
        margin-bottom: 49px;
    }
    .get_touh_fm_rt ul li span.con_icon {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        top: -11px;
    }
    .get_touh_fm_rt .form_style {
        padding: 60px 40px;
    }
    .get_ouch_form .get_touh_fm_lt .form-control.textarea_field {
        height: 90px;
    }
    .get_ouch_form .get_touh_fm_lt .form-group .sbmt_btn {
        font-size: 18px;
        width: 160px;
        padding: 14px 10px;
    }
    /*    join us css*/
    .testimonail_inn_pg {
        padding-bottom: 50px;
    }
    .learn_today_con {
        padding: 80px 0;
    }
    .login_center_bx {
        height: 530px;
    }
    /*blog page css*/
    .blog_text_bx_inn {
        padding: 0 90px;
    }
    .blog_custm_bx {
        height: 465px;
    }
    .blog_text_bx h4 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .blog_text_bx p {
        font-size: 15px;
    }
    .blog_text_bx .blog_sm_bx {
        padding: 15px 0;
        margin: 40px auto 0;
    }
    /*online lesson css*/
    .wasting_tym_con {
        padding: 30px 0 0;
    }
    .wasting_tym_lt h3 {
        font-size: 44px;
        margin-bottom: 25px;
    }
    .wasting_tym_lt h3 span {
        font-size: 29px;
        margin-top: 8px;
    }
    .wasting_tym_lt p {
        line-height: 27px;
        margin-bottom: 10px;
    }
    .wasting_tym_lt p:last-child {
        margin-bottom: 0;
    }
    .wasting_tym_lt {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
    .wasting_tym_rt {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
    .improve_druming_con h2 {
        font-size: 55px;
        line-height: 54px;
        margin: 50px 0;
    }
    .improve_druming_con h2 span {
        font-size: 35px;
        line-height: 35px;
        margin-top: 6px;
    }
    .improve_list_bx li {
        max-width: 331px;
        margin-right: 40px;
    }
    .improve_list_bx .list_bx .box_heading {
        padding: 15px 10px;
    }
    .improve_list_bx .list_bx .box_heading h3 {
        font-size: 22px;
    }
    .box_round_pri {
        width: 150px;
        height: 150px;
    }
    .box_round_pri h4 {
        font-size: 14px;
    }
    .box_round_pri h4 span {
        font-size: 55px;
    }
    .improve_list_bx .list_bx .box_content .box_content_inn h3 {
        margin: 17px 0 32px;
        font-size: 16px;
    }
    .pri_off_bx h5 {
        font-size: 37px;
    }
    .pri_off_bx {
        height: 62px;
        padding: 11px 10px;
    }
    .signup_now_btn {
        margin-top: 35px;
    }
    .play_beat_lt .watch_btn,
    .free_trial_sec .free_trial_inn .start_btn,
    .signup_now_btn {
        padding: 14px 30px;
        font-size: 18px;
    }
    .improve_druming_con {
        padding-bottom: 40px;
    }
    .guarantee_con {
        padding: 50px 0px 45px;
    }
    .gurantee_content {
        padding-left: 35px;
    }
    .gurantee_content h3 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .gurantee_content p {
        font-size: 17px;
        line-height: 28px;
    }
    .what_get_con {
        padding: 50px 0;
    }
    .what_get_rt h3 {
        font-size: 40px;
        margin-bottom: 17px;
    }
    .what_get_rt ul li {
        padding-left: 25px;
        font-size: 19px;
        line-height: 37px;
    }
    .thing_lern_con {
        padding: 50px 0 40px;
    }
    .thing_lern_con h2 {
        font-size: 37px;
        margin-bottom: 35px;
    }
    .free_trial_sec {
        padding: 50px 0;
    }
    .free_trial_sec .free_trial_inn h3 span {
        font-size: 40px;
    }
    .free_trial_sec .free_trial_inn .start_btn {
        margin: 0 0 0 30px;
    }
    .play_beat_con {
        padding: 50px 0;
    }
    .play_beat_lt h3 {
        font-size: 35px;
        padding-left: 20px;
        line-height: 50px;
        margin-bottom: 35px;
    }
    .play_beat_con .play_beat_bx .play_beat_rt .video_bxx {
        padding: 20px 20px 60px;
    }
    .thing_lern_con {
        padding: 50px 0 20px;
    }
    .thing_lern_box ul li {
        margin-right: 52px;
        margin-bottom: 42px;
    }
    .thing_lern_box ul li:first-child {
        width: 27%;
    }
    .thing_lern_box ul li:nth-child(2) {
        width: 32.6%;
    }
    .thing_lern_box ul li:nth-child(2):after {
        bottom: -31px;
    }
    .thing_lern_box ul li:nth-child(3) {
        width: 31.2%;
    }
    .thing_lern_box ul li:nth-child(4) {
        width: 34.2%;
    }
    .thing_lern_box ul li:nth-child(5) {
        width: 31.8%;
    }
    .thing_lern_box ul li:nth-child(6) {
        width: 24%;
    }
    .thing_lern_box ul li:nth-child(6):after {
        bottom: -30px;
    }
    .thing_lern_box ul li::after {
        bottom: -31px;
    }
    .thing_lern_box ul li:nth-child(4),
    .thing_lern_box ul li:nth-child(5) {
        margin-right: 57px;
    }
    .thing_lern_box ul li .thing_overlay h3 a {
        font-size: 25px;
    }
    .play_beat_lt .watch_btn {
        margin: 0 0 0 24px;
    }
    /* private_lesson*/
    .testimoail_inn_con {
        padding: 50px 0;
    }
    .testimoail_inn_con::before {
        width: 168px;
        height: 179px;
        background-size: cover;
    }
    .testimoail_inn_con h2 {
        margin-bottom: 0;
    }
    .privte_testimonal {
        width: 80%;
    }
    .testimoail_inn_con::after {
        top: 26px;
        font-size: 138px;
    }
    .privte_testimonal .item_profile {
        padding: 100px 42px 50px;
    }
    .privte_testimonal .content_bx::before {
        top: -24px;
        left: -22px;
    }
    .privte_testimonal .content_bx::after {
        bottom: -10px;
        right: -19px;
    }
    .privte_testimonal .item_profile figure {
        width: 116px;
        height: 116px;
        margin: -160px auto 33px;
    }
    .privte_testimonal .content_bx p {
        line-height: 28px;
    }

    .privte_testimonal .owl-carousel .owl-nav .owl-next,
    .privte_testimonal .owl-carousel .owl-nav .owl-prev {
        width: 49px;
        height: 49px;
        top: 47%;
    }
    .privte_testimonal .owl-carousel .owl-nav .owl-next {
        left: -100px;
        background-size: 100%;
    }
    .privte_testimonal .owl-carousel .owl-nav .owl-prev {
        right: -100px;
        background-size: 100%;
    }
    .privte_testimonal .testimonalname_pro {
        margin: 25px 0 0;
    }
    .privte_testimonal .testimonalname_pro h3 {
        margin-bottom: 10px;
    }
    .get_startd_con .improve_list_bx li {
        max-width: 437px;
    }
    .get_startd_con .lesson_pakege {
        width: 32%;
        padding-top: 160px;
    }
    .get_startd_con .improve_list_bx {
        width: 79.5%;
    }
    .get_startd_con .improve_list_bx li .box_round_pri p {
        font-size: 16px;
    }
    .get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn h6 span {
        font-size: 40px;
    }
    .get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn .pri_off_bx {
        padding: 22px 10px;
        height: 65px;
    }
    .get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn .pri_off_bx h5 {
        font-size: 20px;
    }
    .gurantee_box {
        padding: 34px 0;
    }
    .gurantee_box p {
        font-size: 23px;
        line-height: 40px;
    }
    .drum_school .drum_school_bx {
        padding: 70px;
    }
    .drum_school_lt {
        margin-top: -122px;
    }
    .drum_school_rt {
        width: 35.5%;
    }
    .drum_school {
        padding: 108px 0 50px;
    }
    .drum_school_rt p {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 29px;
    }
    .drum_school_rt p span.drum_school_text {
        font-size: 28px;
    }
    .thing_banner_con {
        padding: 62px 0;
    }
    .thing_banner_con h4 {
        font-size: 26px;
        margin-left: 118px;
    }
    .thing_banner_con h4 span {
        font-size: 42px;
        margin-left: 16px;
    }
    .our_gurnte_inn h4 {
        width: 67%;
        margin-right: 19px;
        line-height: 40px;
        font-size: 24px;
    }
    .get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn h6 {
        margin-bottom: 15px;
    }
    .duration_bx .duration_lt {
        width: 50%;
        padding: 10px 0;
    }
    .get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn .duration_bx .duration_lt h3 {
        margin: 0 0 20px;
        font-size: 17px;
    }
    .get_startd_con .improve_list_bx li .list_bx .box_content .box_content_inn .duration_bx .duration_lt h4 {
        font-size: 21px;
    }
    .get_startd_con .improve_list_bx ul {
        margin-bottom: 25px;
    }
    .get_startd_con .improve_list_bx li .list_bx .box_heading {
        padding: 23px 10px;
    }
    .private_fre_trial.free_trial_sec .free_trial_inn .start_btn {
        padding: 18px 40px;
    }
    /*    thank you page css*/
    .thankyou-cover.contact-page.text-center {
        padding: 60px 0;
    }
    .thankyou-cover .tick {
        height: 130px;
        line-height: 130px;
        margin: 0 auto 50px;
        width: 130px;
    }
.typing_text {
	color: #fff;
	text-transform: uppercase;
	font-size: 37px;
	font-weight: 400;
}
}
