/* http://www.menucool.com/jquery-slider */

#thumbs2 {
	height: 890px;
	display: inline-block;
	*display: inline;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
	width: 72%;
}
#thumbs2 div.inner {
    width:auto;
    padding:0 30px;

    /*the followings should not be changed */
    height:100%;
    box-sizing:border-box;
    position:relative;
    overflow:hidden;
    margin:0 auto;
}

 
#thumbs2 div.inner ul {
    
    /*the followings should not be changed */
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
/*    float:left!important;
    width:auto!important;
    height:auto!important;*/
}

#thumbs2 ul li {
    display:block;
    margin:0;
padding:0;
    position:relative;
    list-style:none;
}

#thumbs2 ul li.active {
   /*box-shadow:0 0 4px #999;*/
   outline-color:black;
}

#thumbs2 li:hover {
    border-color:rgba(255,255,255,0.5);
}


#thumbs2 .thumb {
    
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}

/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbs2-pause-play {display:none;} /*.pause*/

#thumbs2-prev, #thumbs2-next
{
    position: absolute;
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
    margin:0;
    z-index:10;
    cursor:pointer;
    transition:opacity 0.6s;
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
}


/*
#thumbs2-prev {
    top:-36px;
}

#thumbs2-next {
    bottom:-36px;
}*/
#thumbs2-next.disabled, #thumbs2-prev.disabled {
    opacity:0.1;
    cursor:default;
}


/* arrows */
/*#thumbs2-prev::before, #thumbs2-next::before {
    position:absolute;
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left:-20px;
    border-left: 4px solid black;
    border-top: 4px solid black;
}

#thumbs2-prev::before {
    top:12px;*/
/*
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
}

#thumbs2-next::before {
    bottom:12px;
    -ms-transform:rotate(135deg);
    -webkit-transform:rotate(-135deg);
    transform: rotate(-135deg);
}
*/
